﻿@model EventosCatolicos.Models.Profesion

@{
    ViewBag.Title = "Profesión";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Profesión</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

        </dl>
    </div>
    <p>
        <div class="btn-group" role="group" aria-label="...">
            @Html.ActionLink(" ", "Index", "Profesiones", null, new { data_toggle = "tooltip", title = "Regresar", @class = "btn btn-default glyphicon glyphicon-arrow-left color-verde" })
            @Html.ActionLink(" ", "Edit", "Profesiones", new { id = Model.Id }, new { data_toggle = "tooltip", title = "Editar", @class = "btn btn-default " + @EventosCatolicos.Servicios.clsOpciones.SIconoEditar })
        </div>
    </p>
    @section Scripts {
        </div>
        <script>
            $(document).ready(function() {
                $('[data-toggle="tooltip" ]').tooltip();
            });
        </script>
    }