﻿@model SelectListItem
<div>
    <input type="checkbox" name="selectedGroups" value="@Model.Value" checked="@Model.Selected" class="checkbox-inline"/>
    @Html.LabelForModel(Model.Text, new {@class = "control-label"})
</div>
