﻿@model EventosCatolicos.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Gestionar";
}

<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">

    <h2>@ViewBag.Title.</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>Cambiar la configuración de la cuenta</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Contraseña:</dt>
            <dd>
                [
                @(Model.HasPassword ? Html.ActionLink("Cambiar la contraseña", "ChangePassword") : Html.ActionLink("Crear", "SetPassword"))
                ]
            </dd>
        </dl>
    </div>
    @section Scripts{
    </div>
}
