﻿@using EventosCatolicos.Servicios
@model EventosCatolicos.Models.DetallesDiagnostico
<div style="display: flex; align-items: center;">

    <div class="form-group col-sm-6">
        @{
            var nombreDiagnostico = Model.Diagnostico != null ? Model.Diagnostico.Nombre : "";
        }
        @Html.LabelForRequired(model => model.DiagnosticoId)
        <input class="form-control diagnostico-input" id="diagnostico-input" name="Diagnostico" type="text" value="@nombreDiagnostico" />
        @Html.EditorFor(model => model.DiagnosticoId, new { htmlAttributes = new { @class = "form-control diagnostico-id", @type = "hidden" } })
        @Html.ValidationMessageFor(model => model.DiagnosticoId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-sm-6">
        @Html.LabelFor(model => model.Observacion, htmlAttributes: new { @class = "control-label" })
        @Html.TextAreaFor(model => model.Observacion, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Observacion, "", new { @class = "text-danger" })
    </div>
</div>
<script>
        jQuery(document).ready(function ($) {
            $(".diagnostico-input").each(function (index) {
                var diagnostico = $(this);
                diagnostico.autocomplete({
                    source: function(request, response) {
                        $.getJSON('@Url.Action("DiagnosticoAutocomplete", "Consultas")', { term: request.term }, function(data) {
                            response($.map(data, function(e) {
                                return {
                                    label: e.Label,
                                    value: e.Value
                                };
                            }));
                        });
                    },
                    focus: function() { return false; },
                    select: function(event, ui) {
                        this.value = ui.item.label;
                        diagnostico.next('.diagnostico-id').val(ui.item.value);
                        return false;
                    }
                });
            });
        });
</script>
