﻿@using EventosCatolicos.Servicios
@model EventosCatolicos.Models.DetallesSintoma
<div style="display: flex; align-items: center;">

    <div class="form-group col-sm-6">
        @{
            var nombreSintoma = Model.Sintoma != null ? Model.Sintoma.Nombre : "";
        }
        @Html.LabelForRequired(model => model.SintomaId)
        <input class="form-control sintoma-input" id="sintoma-input" name="Sintoma" type="text" value="@nombreSintoma" />
        @Html.EditorFor(model => model.SintomaId, new { htmlAttributes = new { @class = "form-control sintoma-id", @type = "hidden" } })
        @Html.ValidationMessageFor(model => model.SintomaId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-sm-6">
        @Html.LabelFor(model => model.Observacion, htmlAttributes: new { @class = "control-label" })
        @Html.TextAreaFor(model => model.Observacion, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Observacion, "", new { @class = "text-danger" })
    </div>
</div>
<script>
    jQuery(document).ready(function ($) {
        $(".sintoma-input").each(function (index) {
            var sintoma = $(this);
            sintoma.autocomplete({
                source: function(request, response) {
                    $.getJSON('@Url.Action("SintomaAutocomplete", "Consultas")', { term: request.term }, function(data) {
                        response($.map(data, function(e) {
                            return {
                                label: e.Label,
                                value: e.Value
                            };
                        }));
                    });
                },
                focus: function() { return false; },
                select: function(event, ui) {
                    this.value = ui.item.label;
                    sintoma.next('.sintoma-id').val(ui.item.value);
                    return false;
                }
            });
        });
    });
</script>

