﻿@using System.Web.Mvc.Html
@using EventosCatolicos.Servicios
@model EventosCatolicos.Models.DetallesAntecedente
<div style="display: flex; align-items: center;">
    <div class="form-group col-sm-6">
        @{
            var nombreAntecedente = Model.Antecedente != null ? Model.Antecedente.Nombre : "";
        }
        @Html.LabelForRequired(model => model.AntecedenteId)
        <input class="form-control antecedente-input" id="antecedente-input" name="Antecedente" type="text" value="@nombreAntecedente"/>
        @Html.EditorFor(model => model.AntecedenteId, new {htmlAttributes = new {@class = "form-control antecedente-id", @type = "hidden"}})
        @Html.ValidationMessageFor(model => model.AntecedenteId, "", new {@class = "text-danger"})
    </div>

    <div class="form-group col-sm-6">
        @Html.LabelFor(model => model.Observacion, htmlAttributes: new {@class = "control-label"})
        @Html.TextAreaFor(model => model.Observacion, new {@class = "form-control"})
        @Html.ValidationMessageFor(model => model.Observacion, "", new {@class = "text-danger"})
    </div>
</div>
<script>
    jQuery(document).ready(function ($) {
        $(".antecedente-input").each(function (index) {
            var antecedente = $(this);
            antecedente.autocomplete({
                source: function(request, response) {
                    $.getJSON('@Url.Action("AntecedenteAutocomplete", "Consultas")', { term: request.term }, function(data) {
                        response($.map(data, function(e) {
                            return {
                                label: e.Label,
                                value: e.Value
                            };
                        }));
                    });
                },
                focus: function() { return false; },
                select: function(event, ui) {
                    this.value = ui.item.label;
                    antecedente.next('.antecedente-id').val(ui.item.value);
                    return false;
                }
            });
        });
    });
</script>

