﻿@using EventosCatolicos.Servicios
@model EventosCatolicos.Models.DetallesRecetario
<div style="display: flex; align-items: center;">
    <div class="form-group col-sm-4">
        @{
            var nombreRecetario = Model.Recetario != null ? Model.Recetario.Nombre : "";
        }
        @Html.LabelForRequired(model => model.RecetarioId)
        <input class="form-control recetario-input" id="recetario-input" name="Recetario" type="text" value="@nombreRecetario" />
        @Html.EditorFor(model => model.RecetarioId, new { htmlAttributes = new { @class = "form-control recetario-id", @type = "hidden" } })
        @Html.ValidationMessageFor(model => model.RecetarioId, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-sm-4">
        @Html.LabelFor(model => model.Dosis, htmlAttributes: new {@class = "control-label"})
        @Html.TextBoxFor(model => model.Dosis, new {@class = "form-control"})
        @Html.ValidationMessageFor(model => model.Dosis, "", new {@class = "text-danger"})
    </div>
    <div class="form-group col-sm-4">
        @Html.LabelFor(model => model.Duracion, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Duracion, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Duracion, "", new { @class = "text-danger" })
    </div>
</div>
<script>
    jQuery(document).ready(function ($) {
        $(".recetario-input").each(function (index) {
            var recetario = $(this);
            recetario.autocomplete({
                source: function(request, response) {
                    $.getJSON('@Url.Action("RecetarioAutocomplete", "Consultas")', { term: request.term }, function(data) {
                        response($.map(data, function(e) {
                            return {
                                label: e.Label,
                                value: e.Value
                            };
                        }));
                    });
                },
                focus: function() { return false; },
                select: function(event, ui) {
                    this.value = ui.item.label;
                    recetario.next('.recetario-id').val(ui.item.value);
                    return false;
                }
            });
        });
    });
</script>

