﻿@model EventosCatolicos.Models.DetallesExamen

@{
    var nombreExamen = Model.Examen != null ? Model.Examen.Nombre : "";
}
<div class="form-group col-sm-6">
    <input class="form-control examen-input" id="examen-input" name="Examen" type="text" value="@nombreExamen" />
    @Html.EditorFor(model => model.ExamenId, new { htmlAttributes = new { @class = "form-control examen-id", @type = "hidden" } })
    @Html.ValidationMessageFor(model => model.ExamenId, "", new { @class = "text-danger" })
</div>
<script>
        jQuery(document).ready(function ($) {
            $(".examen-input").each(function (index) {
                var examen = $(this);
                examen.autocomplete({
                    source: function(request, response) {
                        $.getJSON('@Url.Action("ExamenAutocomplete", "Consultas")', { term: request.term }, function(data) {
                            response($.map(data, function(e) {
                                return {
                                    label: e.Label,
                                    value: e.Value
                                };
                            }));
                        });
                    },
                    focus: function() { return false; },
                    select: function(event, ui) {
                        this.value = ui.item.label;
                        examen.next('.examen-id').val(ui.item.value);
                        return false;
                    }
                });
            });
        });
</script>
