﻿@using EventosCatolicos.Servicios
@model EventosCatolicos.Models.DetallesTratamiento
<div style="display: flex; align-items: center;">

    <div class="form-group col-sm-6">
        @{
            var nombreTratamiento = Model.Tratamiento != null ? Model.Tratamiento.Nombre : "";
        }
        @Html.LabelForRequired(model => model.TratamientoId)
        <input class="form-control tratamiento-input" id="tratamiento-input" name="Tratamiento" type="text" value="@nombreTratamiento" />
        @Html.EditorFor(model => model.TratamientoId, new { htmlAttributes = new { @class = "form-control tratamiento-id", @type = "hidden" } })
        @Html.ValidationMessageFor(model => model.TratamientoId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-sm-6">
        @Html.LabelFor(model => model.Observacion, htmlAttributes: new {@class = "control-label"})
        @Html.TextAreaFor(model => model.Observacion, new {@class = "form-control"})
        @Html.ValidationMessageFor(model => model.Observacion, "", new {@class = "text-danger"})
    </div>

</div>
<script>
    jQuery(document).ready(function ($) {
        $(".tratamiento-input").each(function (index) {
            var tratamiento = $(this);
            tratamiento.autocomplete({
                source: function(request, response) {
                    $.getJSON('@Url.Action("TratamientoAutocomplete", "Consultas")', { term: request.term }, function(data) {
                        response($.map(data, function(e) {
                            return {
                                label: e.Label,
                                value: e.Value
                            };
                        }));
                    });
                },
                focus: function() { return false; },
                select: function(event, ui) {
                    this.value = ui.item.label;
                    tratamiento.next('.tratamiento-id').val(ui.item.value);
                    return false;
                }
            });
        });
    });
</script>
