﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 18px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
.form-control{
    font-size: 1.1em;
    max-width: 500px;
}
input[type=number] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -ms-border-radius: 4px;
    border-radius: 4px;
    font-size: 1.1em;
    max-width: 500px;
}


/* CUSTOM CLASSES */
.enfasis {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.1em;
    /*font-weight: 200;*/
    /*line-height: 1.4;*/
    color: inherit;
    background-color: #eeeeee;
    border-style: solid;
    border-width: 5px;
    -ms-border-radius: 32px;
    border-radius: 32px;
}

.btn {
  font-size: 1.1em;
}

h3 small,
.h3 small,
h4 small,
.h4 small {
  font-size: 1.4em;
}

.enfasis h1 {
    line-height: 1;
    color: inherit;
    font-size: 2.2em;
}

.enfasis p {
    line-height: 1.4;
}

.enfasis .btn {
    background-color: #800000;
    line-height: 1;
    font-size:  0.6em;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 33px;
}


.enfasis .btn1 {
    background-color: #cccccc;
    line-height: 1;
    font-size:  14px;
}

/*.container .enfasis {
    border-radius: 6px;
}*/


.enfasisM {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    /*font-weight: 200;*/
    /*line-height: 1.4;*/
    color: inherit;
    background-color: #eeeeee;
    border-style: solid;
    border-width: 5px;
    -ms-border-radius: 32px;
    border-radius: 32px;
}

.btn-default1 {
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
    font-weight:bold;
    background-color: #f9f9f9
}

.btn1 {
    display: inline-block;
    padding: 5px 5px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


/****************************Imagenes *********************************/
/**********************************************************************/
.imagenEventos {
    -ms-border-radius: 20px;
    border-radius: 20px;
}

.imagenCrear {
    background: url('../fonts/imagenes crud/Crear.png') no-repeat;
    -ms-background-size: 25px,25px;
    background-size: 25px,25px;
    width: 25px;
    height: 25px;
}

.imagenEliminar {
    background: url('../fonts/imagenes crud/Cancelar_Cerrar.png') no-repeat;
    -ms-background-size: 20px,20px;
    background-size: 20px,20px;
    width: 20px;
    height: 20px;
}

.imagenDetalles {
    background: url('../fonts/imagenes crud/Detalles.png') no-repeat;
    -ms-background-size: 20px,20px;
    background-size: 20px,20px;
    width: 20px;
    height: 20px;
}

.imagenEditar {
    background: url('../fonts/imagenes crud/Editar.ico') no-repeat;
    -ms-background-size: 20px,20px;
    background-size: 20px,20px;
    width: 20px;
    height: 20px;
}

.imagenGuardar {
    background-image: url('../fonts/imagenes crud/Guardar.png');
    -ms-background-size: 17px,27px;
    background-size: 17px,27px;
    background-repeat:no-repeat;
    background-position: center; 
    width: 40px;
    height: 28px;
    padding: 15.5px;
}


.btn-group > .btn{
    position: initial;
    float: left;
}

.color-verde{
    color:green;
}

.color-azul{
    color:darkblue;
}

.color-rojo{
    color:red;
}
.imagenEditar1 {
    background-image: url('../fonts/imagenes crud/Editar.ico') ;
    -ms-background-size: 17px,5px;
    background-size: 17px,5px;
    background-repeat:no-repeat;
    background-position: center; 
    width:33px;
    height:28px
}


.imagenEliminar1 {
    background-image: url('../fonts/imagenes crud/Cancelar_Cerrar.png') ;
    -ms-background-size: 17px,5px;
    background-size: 17px,5px;
    background-repeat:no-repeat;
    background-position: center; 
    width:33px;
    height:28px
}

/****************************Imagenes *********************************/
/**********************************************************************/

/**/
.bs-callout-danger {
    border-left-color: lightsalmon;
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 4px solid #a960d5;
    border-left-width: 30px;
    -ms-border-radius: 32px;
    border-radius: 32px;
    background-color: rgb(238, 238, 238);
}

/**/

/**************************************GRID*****************************************************/
/***********************************************************************************************/

.horizontal-scroll {
    overflow-x: scroll;
}

table.grid-table .grid-header {
    position: relative;
    background-color: #bc8eed;
}

.table-striped > tbody > tr:nth-child(1n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #f9f9f9;
}


.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-left: 3px solid #bc78f3;
}

table.grid-table tr.grid-row-selected a {
    background: #4888C2 !important;
}
/**************************************GRID*****************************************************/
/***********************************************************************************************/


/********************************Color de fondo***********************************************/
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #207fea 241px;
}

/***************************************** Pantallas *****************************************/

.pantalla {
    font-size: 1.4em;
}

.pantalla .panel .panel-heading{
    padding: 2px;
}
.pantalla .panel .panel-body{
    padding: 0 10px;
}

.pantalla .pantalla-header{
    padding: 10px 10px;
}

.pantalla .pantalla-header button{
    font-size: 0.9em;
    vertical-align: top;
}

.pantalla .panel-title{
    font-size: 1.2em;
    text-align: center;
    margin: 0;
}

.pantalla .panel-title-clinica{
    font-size: 1.2em;
    margin: 0;
    padding: 0 10px;
}

.pantalla .pantalla-label-empty{
    padding: 10px 50px;
}

.pantalla .pantalla-label{
    color: #3b81da;
}

.pantalla .pantalla-text{
    margin: 0;
}

.pantalla .pantalla-item-info{
    float: left;
}

.pantalla .pantalla-next-button {
    float: right;
    margin-top: 25px;
}

.pantalla .pantalla-clinica-dropdown {
    height: 40px;
}

.pantalla .pantalla-clinica-label {
    display: block;
    text-align: center;
}
