﻿@model EventosCatolicos.Models.Archivo

@{
    ViewBag.Title = "Detalles";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Detalles</h2>

    <div>
        <h4>Archivo</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Localizacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Localizacion)
            </dd>

        </dl>
    </div>
    <p>
        <div class="btn-group" role="group" aria-label="...">
            @Html.ActionLink(" ", "Index", "Archivos", null, new { data_toggle = "tooltip", title = "Regresar", @class = "btn btn-default glyphicon glyphicon-arrow-left color-verde" })
            @Html.ActionLink(" ", "Edit", "Archivos", new { id = Model.Id }, new { data_toggle = "tooltip", title = "Editar", @class = "btn btn-default " + @EventosCatolicos.Servicios.clsOpciones.SIconoEditar  })
        </div>
    </p>
    @section scripts
{
      </div>
          <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip" ]').tooltip();
            });
        </script>
        <script type="text/javascript">
            $(function () {
                pageGrids.Antecedentes.lang = gridmvc.lang.es;
            });
        </script>
    }
