﻿@model EventosCatolicos.Models.Recetario

@{
    ViewBag.Title = "Recetario";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Recetario</h2>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ApplicationUser.PrimerNombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApplicationUser.PrimerNombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ApplicationUser1.PrimerNombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApplicationUser1.PrimerNombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AreaRecetario.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AreaRecetario.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Especialidad.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Especialidad.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PrecioPublico)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PrecioPublico)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PrecioEspecial)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PrecioEspecial)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaAlta)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaAlta)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaBaja)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaBaja)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Observacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Observacion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedFrom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedFrom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedAt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedAt)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedFrom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedFrom)
            </dd>

        </dl>
    </div>
<p>
    <div class="btn-group" role="group" aria-label="...">
        @Html.ActionLink(" ", "Index", "Recetarios", null, new {data_toggle = "tooltip", title = "Regresar", @class = "btn btn-default glyphicon glyphicon-arrow-left color-verde"})
        @Html.ActionLink(" ", "Edit", "Recetarios", new {id = Model.Id}, new {data_toggle = "tooltip", title = "Editar", @class = "btn btn-default " + @EventosCatolicos.Servicios.clsOpciones.SIconoEditar})
    </div>
</p>
@section Scripts {
    </div>
        <script>
            $(document).ready(function() {
                $('[data-toggle="tooltip" ]').tooltip();
            });
        </script>
    }