﻿@model EventosCatolicos.Models.Recetario

@{
    ViewBag.Title = "Recetario";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Recetario</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.EspecialidadId, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("EspecialidadId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EspecialidadId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.AreaId, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("AreaId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AreaId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.PrecioPublico, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.PrecioPublico, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PrecioPublico, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.PrecioEspecial, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.PrecioEspecial, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PrecioEspecial, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.FechaAlta, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.FechaAlta, new { htmlAttributes = new { @class = "form-control datepicker" } })
            @Html.ValidationMessageFor(model => model.FechaAlta, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.FechaBaja, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.FechaBaja, new { htmlAttributes = new { @class = "form-control datepicker" } })
            @Html.ValidationMessageFor(model => model.FechaBaja, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.Observacion, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Observacion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Observacion, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-10">
            <div class="btn-group" role="group" aria-label="...">
                @Html.ActionLink(" ", "Index", "Nacionalidades", null, new { data_toggle = "tooltip", title = "Regresar", @class = "btn btn-default glyphicon  glyphicon glyphicon-arrow-left color-verde" })
                <button type="submit" class="btn btn-default imagenGuardar" data-toggle="tooltip" title="Guardar"> </button>

            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    </div>
        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
}
