﻿@using GridMvc.Html
@model IEnumerable<EventosCatolicos.Models.Recetario>

@{
    ViewBag.Title = "Recetario";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Recetario</h2>

    @if (User.IsInRole("Administrar Recetarios") || User.IsInRole("IT"))
    {
        <p>
            <a class="btn btn-default1" data-toggle="tooltip" title="Crear"
               href="@Url.Action("Create", new {controller = "Recetarios"})">
                <span class=" glyphicon glyphicon-plus color-verde" aria-hidden="true"></span>
                Crear
            </a>
        </p>
    }
    <div class="horizontal-scroll">
        @Html.Grid(Model).Named("Pacientes").EmptyText("No hay elementos para mostrar").Columns(column =>
    {
        column.Add().Titled("Opciones").SetWidth(200).RenderValueAs(e =>

            @<span>
                @if (User.IsInRole("Administrar Recetarios") || User.IsInRole("IT"))
                {
                    @Html.ActionLink(" ", "Edit", new { id = e.Id }, new { data_toggle = "tooltip", title = "Editar", @class = "btn1 btn-default1 " + EventosCatolicos.Servicios.clsOpciones.SIconoEditar })
                }
                @if (User.IsInRole("Ver Recetarios") || User.IsInRole("IT"))
                {
                    @Html.ActionLink(" ", "Details", new { id = e.Id }, new { data_toggle = "tooltip", title = "Detalles", @class = "btn1 btn-default1 color-azul" + EventosCatolicos.Servicios.clsOpciones.SIconoDetalles })
                }
                @if (User.IsInRole("Eliminar Recetarios") || User.IsInRole("IT"))
                {
                    @Html.ActionLink(" ", "Delete", new { id = e.Id }, new { data_toggle = "tooltip", title = "Eliminar", @class = "btn1 btn-default1 color-rojo " + EventosCatolicos.Servicios.clsOpciones.SIconoEliminar })
                }
            </span>).Encoded(false).Sanitized(false);
        column.Add(model => model.Id).Titled("Código Recetario").SetWidth(110);
        column.Add(model => model.Nombre).Titled("Nombre").SetWidth(110);
        column.Add(model => model.Descripcion).Titled("Descripción").SetWidth(110);
        column.Add(model => model.AreaRecetario.Nombre).Titled("Área del Recetario").SetWidth(110);
        column.Add(model => model.Especialidad.Nombre).Titled("Especialidad").SetWidth(110);
        column.Add(model => model.FechaAlta).Titled("Fecha de Alta").SetWidth(110);
        column.Add(model => model.FechaBaja).Titled("Fecha de Baja").SetWidth(110);
        column.Add(model => model.PrecioPublico).Titled("Precio público").SetWidth(110);

    }).Filterable(true).WithMultipleFilters().Sortable(true).SetLanguage("es").Selectable(true).WithPaging(10);
    </div>

        @section scripts
{
            @Scripts.Render("~/bundles/gridmvc")
    </div>
    <script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
    <script type="text/javascript">
        $(function () {
            pageGrids.Municipios.lang = gridmvc.lang.es;
        });
    </script>
}