﻿@model EventosCatolicos.Models.Municipio

@{
    ViewBag.Title = "Municipio";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Municipio</h2>

    <h3>@EventosCatolicos.Servicios.clsOpciones.SMensajeEliminar el municipio?</h3>
<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="btn-group" role="group" aria-label="...">
            @Html.ActionLink(" ", "Index", "Municipios", null, new {data_toggle = "tooltip", title = "Regresar", @class = "btn btn-default glyphicon glyphicon-arrow-left color-verde"})
            <button type="submit" class="btn btn-default color-rojo @EventosCatolicos.Servicios.clsOpciones.SIconoEliminar" data-toggle="tooltip" title="Eliminar "></button>
        </div>
    }
</div>
@section Scripts {
    </div>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    }
    
