﻿@model IEnumerable<EventosCatolicos.ViewModels.IndexConsultaViewModel>
@using GridMvc.Html

@{
    ViewBag.Title = "Atender";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Consultas Pendientes</h2>
    @if (User.IsInRole("Llenar consultas") || User.IsInRole("IT"))
    {
        <p>
            <a class="btn btn-default1" data-toggle="tooltip" title="Editar Consultas Finalizadas"
               href="@Url.Action("EditAttend")">
                <span class=" glyphicon glyphicon-user color-azul" aria-hidden="true"></span>
                Editar Consultas
            </a>
        </p>
    }
    <div class="horizontal-scroll">
        @Html.Grid(Model).Named("Consulta").EmptyText("No hay elementos para mostrar").Columns(columns =>
    {
        columns.Add().Titled("Atender").Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(e =>
            @<span>
                @Html.ActionLink(" ", "Fill", new { id = e.Id }, new { data_toggle = "tooltip", title = "Atender", @class = "btn1 btn-default1 color-verde " + EventosCatolicos.Servicios.clsOpciones.SIconoAtender })
            </span>).SetWidth(200);
        columns.Add(model => model.PacienteId).Titled("Código paciente").SetWidth(110);
        columns.Add(model => model.Paciente).Titled("Paciente").SetWidth(110);
        columns.Add(model => model.FechaConsulta).Titled("Fecha Consulta").SetWidth(110);
        columns.Add(model => model.ProximaCita).Titled("Próxima Cita").SetWidth(110);
        columns.Add(model => model.Clinica).Titled("Clínica").SetWidth(110);
        columns.Add(model => model.Medico).Titled("Médico").SetWidth(110);
        columns.Add(model => model.Estado).Titled("Estado").SetWidth(110);
        columns.Add(model => model.Id).Titled("Código Consulta").SetWidth(110);

    }).Filterable(true).WithMultipleFilters().Sortable(true).SetLanguage("es").Selectable(true).WithPaging(10)
    </div>
    @section scripts
{
        @Scripts.Render("~/bundles/gridmvc")
    </div>
    <script>
    $(document).ready(function () {
        $('[data-toggle="tooltip" ]').tooltip();
    });
    </script>
    <script type="text/javascript">
        $(function () {
            pageGrids.Consulta.lang = gridmvc.lang.es;
        });
    </script>
    }