﻿@using EventosCatolicos.Servicios
@model EventosCatolicos.Models.Examen

@{
    Layout = null;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="form-group col-sm-6 col-md-4">
        @Html.LabelForRequired(model => model.Nombre)
        @Html.EditorFor(model => model.Nombre, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => model.Nombre, "", new {@class = "text-danger"})
    </div>

    <div class="form-group col-sm-6 col-md-4">
        @Html.LabelForRequired(model => model.Descripcion)
        @Html.EditorFor(model => model.Descripcion, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => model.Descripcion, "", new {@class = "text-danger"})
    </div>

    <div class="form-group col-sm-6 col-md-4">
        @Html.LabelForRequired(model => model.EspecialidadId)
        @Html.DropDownList("EspecialidadId", null, htmlAttributes: new {@class = "form-control"})
        @Html.ValidationMessageFor(model => model.EspecialidadId, "", new {@class = "text-danger"})
    </div>
    <div class="clearfix"></div>

    <button id="post-examen" class="btn btn-default imagenGuardar color-azul" data-toggle="tooltip" title="Guardar"></button>

    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $('form').submit(function() {
            return ajaxSubmit($(this));
        });

        function ajaxSubmit($form) {
            if ($form.valid()) {
                $.ajax({
                    type: "POST",
                    url: $form.attr('action'),
                    data: $form.serialize(),
                    error: function(xhr, status, error) {
                        //do something about the error
                    },
                    success: function() {},
                    complete: function() {
                        $('#dialog-examen').dialog('close');
                    }
                });
            }

            return false; // if it's a link to prevent post
        }

    </script>
}