﻿@using EventosCatolicos.Servicios

@model EventosCatolicos.ViewModels.GenerateConsultaViewModel

@{
    ViewBag.Title = "Consultas";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Consultas</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelForRequired(model => model.PacienteId)
            @Html.EditorFor(model => model.PacienteId, new { htmlAttributes = new { @id = "paciente-id", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PacienteId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelForRequired(model => model.Paciente)
            @Html.EditorFor(model => model.Paciente, new { htmlAttributes = new { @id = "paciente-input", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Paciente, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelForRequired(model => model.EstadoId)
            @Html.DropDownList("EstadoId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EstadoId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelForRequired(model => model.MedicoId)
            @Html.EditorFor(model => model.MedicoId, new { htmlAttributes = new { @id = "medico-id", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MedicoId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.Medico, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Medico, new { htmlAttributes = new { @id = "medico-input", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Medico, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.ClinicaId, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("ClinicaId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClinicaId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.FechaConsulta, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.FechaConsulta, new { htmlAttributes = new { @class = "form-control datepicker-restricted" } })
            @Html.ValidationMessageFor(model => model.FechaConsulta, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.ProximaCita, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.ProximaCita, new { htmlAttributes = new { @class = "form-control datepicker-restricted" } })
            @Html.ValidationMessageFor(model => model.ProximaCita, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.CobroId, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.CobroId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CobroId, "", new { @class = "text-danger" })
        </div>
        <div class="clearfix"></div>
        <div class="form-group">
            <div class="btn-group" role="group" aria-label="...">
                @Html.ActionLink(" ", "Index", "Consultas", null, new { data_toggle = "tooltip", title = "Regresar", @class = "btn btn-default glyphicon glyphicon-arrow-left color-verde" })
                <button type="submit" class="btn btn-default imagenGuardar color-azul" data-toggle="tooltip" title="Guardar"></button>
            </div>
        </div>
    }

    @section Scripts {
        </div>
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jquery-ui")

        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
            jQuery(document).ready(function ($) {
                function createAutocomplete(selector, url, valueSelector, labelToValue) {
                    $(selector).autocomplete({
                        source: function (request, response) {
                            $.getJSON(url, { term: request.term }, function (data) {
                                response($.map(data, function (e) {
                                    return {
                                        label: e.Label,
                                        value: e.Value
                                    };
                                }));
                            });
                        },
                        focus: function () { return false; },
                        select: function (event, ui) {
                            if (!labelToValue) {
                                var temp = ui.item.label;
                                ui.item.label = ui.item.value;
                                ui.item.value = temp;
                            }
                            this.value = ui.item.label;
                            $(valueSelector).val(ui.item.value);

                            return false;
                        }
                    });
                }
                createAutocomplete('#paciente-input', '@Url.Action("PacienteAutocomplete", "Consultas")', '#paciente-id', true);
                createAutocomplete('#paciente-id', '@Url.Action("PacienteIdAutocomplete", "Consultas")', '#paciente-input', false);
                createAutocomplete('#medico-input', '@Url.Action("MedicoAutocomplete", "Consultas")', '#medico-id', true);
                createAutocomplete('#medico-id', '@Url.Action("MedicoIdAutocomplete", "Consultas")', '#medico-input', false);
            });
        </script>
    }
