﻿@using EventosCatolicos.Servicios
@model EventosCatolicos.Models.Recetario

@{
    Layout = null;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group col-sm-6 col-md-4">
        @Html.LabelForRequired(model => model.Nombre)
        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-sm-6 col-md-4">
        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-sm-6 col-md-4">
        @Html.LabelFor(model => model.EspecialidadId, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownList("EspecialidadId", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.EspecialidadId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-sm-6 col-md-4">
        @Html.LabelFor(model => model.AreaId, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownList("AreaId", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.AreaId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-sm-6 col-md-4">
        @Html.LabelFor(model => model.PrecioPublico, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.PrecioPublico, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PrecioPublico, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-sm-6 col-md-4">
        @Html.LabelFor(model => model.PrecioEspecial, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.PrecioEspecial, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PrecioEspecial, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-sm-6 col-md-4">
        @Html.LabelFor(model => model.FechaAlta, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.FechaAlta, new { htmlAttributes = new { @class = "form-control datepicker" } })
        @Html.ValidationMessageFor(model => model.FechaAlta, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-sm-6 col-md-4">
        @Html.LabelFor(model => model.FechaBaja, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.FechaBaja, new { htmlAttributes = new { @class = "form-control datepicker" } })
        @Html.ValidationMessageFor(model => model.FechaBaja, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-sm-6 col-md-4">
        @Html.LabelFor(model => model.Observacion, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Observacion, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Observacion, "", new { @class = "text-danger" })
    </div>
    <div class="clearfix"></div>

    <button id="post-recetario" class="btn btn-default imagenGuardar color-azul" data-toggle="tooltip" title="Guardar"></button>

    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $('form').submit(function() {
            return ajaxSubmit($(this));
        });

        function ajaxSubmit($form) {
            if ($form.valid()) {
                $.ajax({
                    type: "POST",
                    url: $form.attr('action'),
                    data: $form.serialize(),
                    error: function(xhr, status, error) {
                        //do something about the error
                    },
                    success: function() {},
                    complete: function() {
                        $('#dialog-recetario').dialog('close');
                    }
                });
            }

            return false;// if it's a link to prevent post
        }

    </script>
}


