﻿@model EventosCatolicos.Models.Consulta

@{
    ViewBag.Title ="Consulta";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Consulta</h2>

    <h3>@EventosCatolicos.Servicios.clsOpciones.SMensajeEliminar la consulta?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ApplicationUser.PrimerNombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApplicationUser.PrimerNombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ApplicationUser1.PrimerNombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApplicationUser1.PrimerNombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Clinica.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Clinica.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EstadoConsulta.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EstadoConsulta.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Medico.UsuarioId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Medico.UsuarioId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Paciente.PrimerNombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Paciente.PrimerNombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PacienteId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PacienteId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaConsulta)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaConsulta)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Motivo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Motivo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Observaciones)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Observaciones)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PresionArterial)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PresionArterial)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Peso)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Peso)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Temperatura)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Temperatura)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FrecuenciaCardiaca)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FrecuenciaCardiaca)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FrecuenciaRespiratoria)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FrecuenciaRespiratoria)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MasaCorporal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MasaCorporal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProximaCita)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProximaCita)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedFrom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedFrom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedAt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedAt)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedFrom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedFrom)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="btn-group" role="group" aria-label="...">
                @Html.ActionLink(" ", "Index", "Consultas", null, new { data_toggle = "tooltip", title = "Regresar", @class = "btn btn-default glyphicon glyphicon-arrow-left color-verde" })
                <button type="submit" class="btn btn-default color-rojo @EventosCatolicos.Servicios.clsOpciones.SIconoEliminar" data-toggle="tooltip" title="Eliminar "></button>
            </div>
        }
    </div>
    @section scripts
{
        </div>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip" ]').tooltip();
        });
    </script>
}