﻿@model EventosCatolicos.ViewModels.ConsultaViewModel

@{
    ViewBag.Title = "Consultas";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Consultas</h2>
    <div>
    <hr/>
        <h2 class="text-center">Datos Generales</h2>
        <dl class="dl-horizontal col-sm-6">
            <dt>
                @Html.DisplayNameFor(model => model.CobroId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CobroId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PacienteId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PacienteId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Paciente)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Paciente)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaConsultaView)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaConsultaView)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProximaCitaView)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProximaCitaView)
            </dd>
        </dl>
        <dl class="dl-horizontal col-md-6">
            <dt>
                @Html.DisplayNameFor(model => model.ClinicaId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClinicaId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MedicoId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MedicoId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Medico)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Medico)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Estado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Estado)
            </dd>
        </dl><div class="clearfix"></div>
        <h2 class="text-center">Descripción</h2>
        <div class="col-md-7">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Motivo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Motivo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Observaciones)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Observaciones)
                </dd>
            </dl>
            <h3 class="text-center">Detalles</h3>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.PresionArterial)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PresionArterial)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Peso)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Peso)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Temperatura)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Temperatura)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FrecuenciaCardiaca)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FrecuenciaCardiaca)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FrecuenciaRespiratoria)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FrecuenciaRespiratoria)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MasaCorporal)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MasaCorporal)
                </dd>

            </dl>
        </div>
        <div class="col-md-5">
            <h3>Síntomas</h3>
            <table class="table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DetallesSintomas[0].Observacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetallesSintomas[0].SintomaId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetallesSintomas[0].Sintoma.Descripcion)
                    </th>
                </tr>

                @foreach (var item in Model.DetallesSintomas)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Observacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sintoma.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sintoma.Descripcion)
                        </td>
                    </tr>
                }
            </table>
            <h3>Antecedentes</h3>
            <table class="table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DetallesAntecedentes[0].Observacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetallesAntecedentes[0].AntecedenteId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetallesAntecedentes[0].Antecedente.Descripcion)
                    </th>
                </tr>
                @foreach (var item in Model.DetallesAntecedentes)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Observacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Antecedente.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Antecedente.Descripcion)
                        </td>
                    </tr>
                }
            </table>
            <h3>Diagnósticos</h3>
            <table class="table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DetallesDiagnosticos[0].Observacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetallesDiagnosticos[0].DiagnosticoId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetallesDiagnosticos[0].Diagnostico.Descripcion)
                    </th>
                </tr>
                @foreach (var item in Model.DetallesDiagnosticos)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Observacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Diagnostico.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Diagnostico.Descripcion)
                        </td>
                    </tr>
                }
            </table>
            <h3>Tratamientos</h3>
            <table class="table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DetallesTratamientos[0].Observacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetallesTratamientos[0].TratamientoId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetallesTratamientos[0].Tratamiento.Descripcion)
                    </th>
                </tr>
                @foreach (var item in Model.DetallesTratamientos)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Observacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tratamiento.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tratamiento.Descripcion)
                        </td>
                    </tr>
                }
            </table>
            <h3>Recetarios</h3>
            <table class="table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DetallesRecetarios[0].Dosis)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetallesRecetarios[0].Duracion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetallesRecetarios[0].RecetarioId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetallesRecetarios[0].Recetario.Descripcion)
                    </th>
                </tr>
                @foreach (var item in Model.DetallesRecetarios)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dosis)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Duracion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Recetario.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Recetario.Descripcion)
                        </td>
                    </tr>
                }
            </table>
            <h3>Examenes</h3>
            <table class="table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DetallesExamenes[0].ExamenId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DetallesExamenes[0].Examen.Descripcion)
                    </th>
                </tr>
                @foreach (var item in Model.DetallesExamenes)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Examen.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Examen.Descripcion)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="clearfix"></div>
    <p>
        <div class="btn-group" role="group" aria-label="...">
            @Html.ActionLink(" ", "Index", "Consultas", null, new { data_toggle = "tooltip", title = "Regresar", @class = "btn btn-default glyphicon glyphicon-arrow-left color-verde" })
            @Html.ActionLink(" ", "Edit", "Consultas", new { id = Model.Id }, new { data_toggle = "tooltip", title = "Editar", @class = "btn btn-default " + @EventosCatolicos.Servicios.clsOpciones.SIconoEditar })
        </div>
    </p>
    @section scripts
{
        </div>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip" ]').tooltip();
        });
    </script>
}