﻿@model IEnumerable<EventosCatolicos.ViewModels.IndexConsultaViewModel>
@using GridMvc.Html

@{
    ViewBag.Title = "Atender";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Consultas Finalizadas</h2>
    <div class="pre-scrollable">
        @Html.Grid(Model).Named("Consulta").EmptyText("No hay elementos para mostrar").Columns(columns =>
    {
        columns.Add().Titled("Opciones").Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(e =>
            @<span>
                @Html.ActionLink(" ", "EditFill", new { id = e.Id }, new { data_toggle = "tooltip", title = "Editar Atendida", @class = "btn1 btn-default1 color-azul " + EventosCatolicos.Servicios.clsOpciones.SIconoEditarAtender })
            </span>).SetWidth(200);
        columns.Add(model => model.PacienteId).Titled("Código paciente").SetWidth(110);
        columns.Add(model => model.Paciente).Titled("Paciente").SetWidth(110);
        columns.Add(model => model.FechaConsulta).Titled("Fecha Consulta").SetWidth(110);
        columns.Add(model => model.ProximaCita).Titled("Próxima Cita").SetWidth(110);
        columns.Add(model => model.Clinica).Titled("Clínica").SetWidth(110);
        columns.Add(model => model.Medico).Titled("Médico").SetWidth(110);
        columns.Add(model => model.Estado).Titled("Estado").SetWidth(110);
        columns.Add(model => model.Id).Titled("Código Consulta").SetWidth(110);

    }).Filterable(true).WithMultipleFilters().Sortable(true).SetLanguage("es").Selectable(true).WithPaging(10)
    </div>
    @section scripts
{
        @Scripts.Render("~/bundles/gridmvc")
    </div>
    <script>
    $(document).ready(function () {
        $('[data-toggle="tooltip" ]').tooltip();
    });
    </script>
    <script type="text/javascript">
        $(function () {
            pageGrids.Consulta.lang = gridmvc.lang.es;
        });
    </script>
    }
