﻿@model EventosCatolicos.ViewModels.GenerateConsultaViewModel

@{
    ViewBag.Title = "Consultas";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Consultas</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.PacienteId, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.PacienteId, new { htmlAttributes = new { @id = "paciente-id", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PacienteId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.Paciente, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Paciente, new { htmlAttributes = new { @id = "paciente-input", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Paciente, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.EstadoId, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("EstadoId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EstadoId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.MedicoId, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.MedicoId, new { htmlAttributes = new { @id = "medico-id", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MedicoId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.Medico, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Medico, new { htmlAttributes = new { @id = "medico-input", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Medico, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.ClinicaId, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("ClinicaId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClinicaId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.FechaConsulta, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.FechaConsulta, new { htmlAttributes = new { @class = "form-control datepicker-restricted" } })
            @Html.ValidationMessageFor(model => model.FechaConsulta, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.ProximaCita, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.ProximaCita, new { htmlAttributes = new { @class = "form-control datepicker-restricted" } })
            @Html.ValidationMessageFor(model => model.ProximaCita, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.CobroId, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.CobroId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CobroId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-10">
            <div class="btn-group" role="group" aria-label="...">
                @Html.ActionLink(" ", "Index", "Consultas", null, new { data_toggle = "tooltip", title = "Regresar", @class = "btn btn-default glyphicon  glyphicon glyphicon-arrow-left color-verde" })
                <button type="submit" class="btn btn-default imagenGuardar" data-toggle="tooltip" title="Guardar">
                </button>
            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jquery-ui")
    </div>
        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
        <script>
            jQuery(document).ready(function ($) {
                $("#paciente-input").autocomplete({
                    source: function (request, response) {
                        $.getJSON('@Url.Action("PacienteAutocomplete", "Consultas")', { term: request.term }, function (data) {
                            response($.map(data, function (e) {
                                return {
                                    label: e.Label,
                                    value: e.Value
                                };
                            }));
                        });
                    },
                    focus: function () { return false; },
                    select: function (event, ui) {
                        this.value = ui.item.label;
                        $('#paciente-id').val(ui.item.value);

                        return false;
                    }
                });
                $("#paciente-id").autocomplete({
                    source: function (request, response) {
                        $.getJSON('@Url.Action("PacienteIdAutocomplete", "Consultas")', { id: request.term }, function (data) {
                            response($.map(data, function (e) {
                                return {
                                    label: e.Label,
                                    value: e.Value
                                };
                            }));
                        });
                    },
                    focus: function () { return false; },
                    select: function (event, ui) {
                        this.value = ui.item.value;
                        $('#paciente-input').val(ui.item.label);

                        return false;
                    }
                });
                $("#medico-input").autocomplete({
                    source: function (request, response) {
                        $.getJSON('@Url.Action("MedicoAutocomplete", "Consultas")', { term: request.term }, function (data) {
                            response($.map(data, function (e) {
                                return {
                                    label: e.Label,
                                    value: e.Value
                                };
                            }));
                        });
                    },
                    focus: function () { return false; },
                    select: function (event, ui) {
                        this.value = ui.item.label;
                        $('#medico-id').val(ui.item.value);

                        return false;
                    }
                });
                $("#medico-id").autocomplete({
                    source: function (request, response) {
                        $.getJSON('@Url.Action("MedicoIdAutocomplete", "Consultas")', { id: request.term }, function (data) {
                            response($.map(data, function (e) {
                                return {
                                    label: e.Label,
                                    value: e.Value
                                };
                            }));
                        });
                    },
                    focus: function () { return false; },
                    select: function (event, ui) {
                        this.value = ui.item.value;
                        $('#medico-input').val(ui.item.label);

                        return false;
                    }
                });
            });
        </script>
    }
