﻿@using System.Web.Mvc.Html
@using EventosCatolicos.Servicios
@model EventosCatolicos.ViewModels.ConsultaViewModel

@{
    ViewBag.Title = clsOpciones.SEditar;
}

<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">

    <h2>Editar Atender</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h4>Editar Atención de consulta</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelForRequired(model => model.PacienteId)
            @Html.EditorFor(model => model.PacienteId, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.PacienteId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelForRequired(model => model.Paciente)
            @Html.EditorFor(model => model.Paciente, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.Paciente, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelForRequired(model => model.MedicoId)
            @Html.EditorFor(model => model.MedicoId, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.MedicoId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelForRequired(model => model.EstadoId, "EstadoId")
            @Html.DropDownList("EstadoId", null, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.EstadoId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelForRequired(model => model.ClinicaId, "ClinicaId")
            @Html.DropDownList("ClinicaId", null, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.ClinicaId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelForRequired(model => model.CobroId)
            @Html.EditorFor(model => model.CobroId, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.CobroId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelForRequired(model => model.FechaConsulta)
            @Html.EditorFor(model => model.FechaConsulta, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.FechaConsulta, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelForRequired(model => model.ProximaCita)
            @Html.EditorFor(model => model.ProximaCita, new { htmlAttributes = new { @class = "form-control datepicker-restricted" } })
            @Html.ValidationMessageFor(model => model.ProximaCita, "", new { @class = "text-danger" })
        </div>
        <div class="clearfix"></div>
        <hr />
        <div class="form-group col-sm-12">
            @Html.LabelForRequired(model => model.Motivo)
            @Html.EditorFor(model => model.Motivo, new { htmlAttributes = new { @class = "form-control", @style = "max-width: 1000px" } })
            @Html.ValidationMessageFor(model => model.Motivo, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-12">
            @Html.LabelForRequired(model => model.Observaciones)
            @Html.TextAreaFor(model => model.Observaciones, htmlAttributes: new { @class = "form-control", @rows = "5", @style = "max-width: 1000px" })
            @Html.ValidationMessageFor(model => model.Observaciones, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelForRequired(model => model.PresionArterial)
            @Html.EditorFor(model => model.PresionArterial, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PresionArterial, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelForRequired(model => model.Peso)
            @Html.EditorFor(model => model.Peso, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Peso, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelForRequired(model => model.Temperatura)
            @Html.EditorFor(model => model.Temperatura, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Temperatura, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelForRequired(model => model.FrecuenciaCardiaca)
            @Html.EditorFor(model => model.FrecuenciaCardiaca, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FrecuenciaCardiaca, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelForRequired(model => model.FrecuenciaRespiratoria)
            @Html.EditorFor(model => model.FrecuenciaRespiratoria, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FrecuenciaRespiratoria, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelForRequired(model => model.MasaCorporal)
            @Html.EditorFor(model => model.MasaCorporal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MasaCorporal, "", new { @class = "text-danger" })
        </div>
        <div class="clearfix"></div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Síntomas</h3>
            </div>
            <div class="panel-body">
                <div id="sintomas-list">
                    @Html.EditorForMany(m => @Model.DetallesSintomas)
                </div>
                <div>
                    <a class="btn btn-default" id="add-sintoma" style="float: left">
                        Agregar <i class="glyphicon glyphicon-plus color-azul" aria-hidden="true"></i>
                    </a>
                    <a id="create-sintoma" class="btn btn-default" style="float: right">
                        Crear nuevo <i class="glyphicon glyphicon-plus-sign color-verde" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Antecedentes</h3>
            </div>
            <div class="panel-body">
                <div id="antecedentes-list">
                    @Html.EditorForMany(m => @Model.DetallesAntecedentes)
                </div>
                <div>
                    <a class="btn btn-default" id="add-antecedente" style="float: left">
                        Agregar <i class="glyphicon glyphicon-plus color-azul" aria-hidden="true"></i>
                    </a>
                    <a id="create-antecedente" class="btn btn-default" style="float: right">
                        Crear nuevo <i class="glyphicon glyphicon-plus-sign color-verde" aria-hidden="true"></i>
                    </a>
                </div>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Diagnósticos</h3>
            </div>
            <div class="panel-body">
                <div id="diagnosticos-list">
                    @Html.EditorForMany(m => @Model.DetallesDiagnosticos)
                </div>
                <div>
                    <a class="btn btn-default" id="add-diagnostico" style="float: left">
                        Agregar <i class="glyphicon glyphicon-plus color-azul" aria-hidden="true"></i>
                    </a>
                    <a id="create-diagnostico" class="btn btn-default" style="float: right">
                        Crear nuevo <i class="glyphicon glyphicon-plus-sign color-verde" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Tratamientos</h3>
            </div>
            <div class="panel-body">
                <div id="tratamientos-list">
                    @Html.EditorForMany(m => @Model.DetallesTratamientos)
                </div>
                <div>
                    <a class="btn btn-default" id="add-tratamiento" style="float: left">
                        Agregar <i class="glyphicon glyphicon-plus color-azul" aria-hidden="true"></i>
                    </a>
                    <a id="create-tratamiento" class="btn btn-default" style="float: right">
                        Crear nuevo <i class="glyphicon glyphicon-plus-sign color-verde" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Recetarios</h3>
            </div>
            <div class="panel-body">
                <div id="recetarios-list">
                    @Html.EditorForMany(m => @Model.DetallesRecetarios)
                </div>
                <div>
                    <a class="btn btn-default" id="add-recetario" style="float: left">
                        Agregar <i class="glyphicon glyphicon-plus color-azul" aria-hidden="true"></i>
                    </a>
                    <a id="create-recetario" class="btn btn-default" style="float: right">
                        Crear nuevo <i class="glyphicon glyphicon-plus-sign color-verde" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Examenes</h3>
            </div>
            <div class="panel-body">
                <div id="examenes-list">
                    @Html.EditorForMany(m => @Model.DetallesExamenes)
                </div>
                <div class="clearfix"></div>
                <div>
                    <a class="btn btn-default" id="add-examen" style="float: left">
                        Agregar <i class="glyphicon glyphicon-plus color-azul" aria-hidden="true"></i>
                    </a>
                    <a id="create-examen" class="btn btn-default" style="float: right">
                        Crear nuevo <i class="glyphicon glyphicon-plus-sign color-verde" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="btn-group" role="group" aria-label="...">
            @Html.ActionLink(" ", "Index", "Consultas", null, new { data_toggle = "tooltip", title = "Regresar", @class = "btn btn-default glyphicon glyphicon-arrow-left color-verde" })
            <button type="submit" class="btn btn-default imagenGuardar color-azul" data-toggle="tooltip" title="Guardar"></button>
        </div>

        <div id="dialog-sintoma"></div>
        <div id="dialog-antecedente"></div>
        <div id="dialog-diagnostico"></div>
        <div id="dialog-tratamiento"></div>
        <div id="dialog-recetario"></div>
        <div id="dialog-examen"></div>

    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jquery-ui")
        @Scripts.Render("~/bundles/jquery-unobtrusive-ajax")
    </div>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('#attending').on('click', function () {
                $.post('@Url.Action("Attending", "Consultas")', { id: @Model.Id });
                $(this).text('Atendiendo...');
                $(this).attr('disabled', 'disabled');
                $('#EstadoId').html('<option value=2>Atendiendo</option>');
            });

            function addElement(selector, action, element) {
                $(selector).click(function() {
                    jQuery.get('/Consultas/' + action).done(function (html) {
                        $(element).append(html);
                    });
                });
            }

            function createDialog(selector, title, action) {
                $(selector).dialog({
                    title: title,
                    autoOpen: false,
                    resizable: false,
                    draggable: true,
                    height: 'auto',
                    width: 'auto',
                    modal: true,
                    open: function () {
                        $(this).load("/Consultas/" + action);
                    }
                });
            }

            function openDialog(selector, element) {
                $(selector).click(function() {
                    $(element).dialog('open');
                });
            }

            addElement('#add-sintoma', 'AddSintoma', '#sintomas-list');
            addElement('#add-antecedente', 'AddAntecedente', '#antecedentes-list');
            addElement('#add-diagnostico', 'AddDiagnostico', '#diagnosticos-list');
            addElement('#add-tratamiento', 'AddTratamiento', '#tratamientos-list');
            addElement('#add-recetario', 'AddRecetario', '#recetarios-list');
            addElement('#add-examen', 'AddExamen', '#examenes-list');

            createDialog('#dialog-sintoma', "Crear síntoma", "CreateSintoma");
            createDialog('#dialog-antecedente', "Crear antecedente", "CreateAntecedente");
            createDialog('#dialog-diagnostico', "Crear diagnóstico", "CreateDiagnostico");
            createDialog('#dialog-tratamiento', "Crear tratamiento", "CreateTratamiento");
            createDialog('#dialog-recetario', "Crear recetario", "CreateRecetario");
            createDialog('#dialog-examen', "Crear examen", "CreateExamen");

            openDialog('#create-sintoma', '#dialog-sintoma');
            openDialog('#create-antecedente', '#dialog-antecedente');
            openDialog('#create-diagnostico', '#dialog-diagnostico');
            openDialog('#create-tratamiento', '#dialog-tratamiento');
            openDialog('#create-recetario', '#dialog-recetario');
            openDialog('#create-examen', '#dialog-examen');
        });
    </script>
    }
