﻿@model IEnumerable<EventosCatolicos.ViewModels.IndexConsultaViewModel>
@using GridMvc.Html

@{
    ViewBag.Title = "Consulta";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
<h2>Consultas</h2>
@if (User.IsInRole("Administrar Consultas") || User.IsInRole("IT"))
{
    
    <p>
        <a class="btn btn-default1" data-toggle="tooltip" title="Crear"
           href="@Url.Action("Create")">
            <span class=" glyphicon glyphicon-plus color-verde" aria-hidden="true"></span>
            Crear
        </a>
        @if (User.IsInRole("Llenar consultas") || User.IsInRole("IT"))
        {
            <a class="btn btn-default1" data-toggle="tooltip" title="Atender"
               href="@Url.Action("Attend")">
                <span class=" glyphicon glyphicon-user color-azul" aria-hidden="true"></span>
                Atender Consultas
            </a>
        }
    </p>
}

    

    <div class="horizontal-scroll">
    @Html.Grid(Model).Named("Consulta").EmptyText("No hay elementos para mostrar").Columns(columns =>
    {
        columns.Add().Titled("Opciones").Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(e =>
            @<span>
                @if (User.IsInRole("Administrar consultas") || User.IsInRole("IT"))
                {
                    @Html.ActionLink(" ", "Edit", new { id = e.Id }, new { data_toggle = "tooltip", title = "Editar", @class = "btn1 btn-default1 " + EventosCatolicos.Servicios.clsOpciones.SIconoEditar })
                }
                @if (User.IsInRole("Ver consultas") || User.IsInRole("IT"))
                {
                    @Html.ActionLink(" ", "Details", new { id = e.Id }, new { data_toggle = "tooltip", title = "Detalles", @class = "btn1 btn-default1 color-azul" + EventosCatolicos.Servicios.clsOpciones.SIconoDetalles })
                }
                @if (User.IsInRole("Eliminar consultas") || User.IsInRole("IT"))
                {
                    @Html.ActionLink(" ", "Delete", new { id = e.Id }, new { data_toggle = "tooltip", title = "Eliminar", @class = "btn1 btn-default1 color-rojo " + EventosCatolicos.Servicios.clsOpciones.SIconoEliminar })
                }
            </span>);
        columns.Add(model => model.PacienteId).Titled("Código paciente");
        columns.Add(model => model.Paciente).Titled("Paciente");
        columns.Add(model => model.FechaConsulta).Titled("Fecha Consulta").Format("{0:dd/MM/yyyy}");
        columns.Add(model => model.ProximaCita).Titled("Próxima Cita").Format("{0:dd/MM/yyyy}");
        columns.Add(model => model.Clinica).Titled("Clínica");
        columns.Add(model => model.Medico).Titled("Médico");
        columns.Add(model => model.Estado).Titled("Estado");
        columns.Add(model => model.Id).Titled("Código Consulta");
    }).Filterable(true).WithMultipleFilters().Sortable(true).SetLanguage("es").Selectable(true).WithPaging(10)
</div>
@section scripts
{
    @Scripts.Render("~/bundles/gridmvc")
    </div>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip" ]').tooltip();
    });
</script>
    <script type="text/javascript">
        $(function () {
            pageGrids.Consulta.lang = gridmvc.lang.es;
        });
    </script>
}