﻿@model EventosCatolicos.Models.Tratamiento

@{
    ViewBag.Title = EventosCatolicos.Servicios.clsOpciones.SDetalle;
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>@EventosCatolicos.Servicios.clsOpciones.SDetalle</h2>

    <div>
        <h4>Tratamiento</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CategoriaTratamiento.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CategoriaTratamiento.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

        </dl>
    </div>
    <p>
        <div class="btn-group" role="group" aria-label="...">
            @Html.ActionLink(" ", "Index", "Tratamientos", null, new { data_toggle = "tooltip", title = "Regresar", @class = "btn btn-default glyphicon glyphicon-arrow-left color-verde" })
            @Html.ActionLink(" ", "Edit", "Tratmientos", new { id = Model.Id }, new { data_toggle = "tooltip", title = "Editar", @class = "btn btn-default " + @EventosCatolicos.Servicios.clsOpciones.SIconoEditar })
        </div>
    </p>
    @section scripts
{
    </div>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip" ]').tooltip();
        });
    </script>
        }