﻿@model IEnumerable<EventosCatolicos.Models.Talla>
@using GridMvc.Html
@{
    ViewBag.Title = "Tallas";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Tallas</h2>

    @if (User.IsInRole("Administrar Talla") || User.IsInRole("IT"))
    {
        <p>
            <a class="btn btn-default1" data-toggle="tooltip" title="Crear"
               href="@Url.Action("Create", new { controller = "Tallas" })">
                <span class=" glyphicon glyphicon-plus color-verde" aria-hidden="true"></span>
                Crear
            </a>
        </p>
    }
    @Html.Grid(Model).Named("Tallas").EmptyText("No hay elementos para mostrar").Columns(columns =>
    {
        columns.Add().Titled("Opciones").Titled("Opciones").Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(e =>
            @<span>
                @if (User.IsInRole("Administrar Talla") || User.IsInRole("IT"))
                {
                    @Html.ActionLink(" ", "Edit", new { id = e.Id }, new { data_toggle = "tooltip", title = "Editar", @class = "btn1 btn-default1 " + EventosCatolicos.Servicios.clsOpciones.SIconoEditar })
                }
                @if (User.IsInRole("Ver Talla") || User.IsInRole("IT"))
                {
                    @Html.ActionLink(" ", "Details", new { id = e.Id }, new { data_toggle = "tooltip", title = "Detalles", @class = "btn1 btn-default1 color-azul" + EventosCatolicos.Servicios.clsOpciones.SIconoDetalles })
                }
                @if (User.IsInRole("Eliminar Talla") || User.IsInRole("IT"))
                {
                    @Html.ActionLink(" ", "Delete", new { id = e.Id }, new { data_toggle = "tooltip", title = "Eliminar", @class = "btn1 btn-default1 color-rojo " + EventosCatolicos.Servicios.clsOpciones.SIconoEliminar })
                }
            </span>).SetWidth(200);
        columns.Add(model => model.Id).Titled("Código").SetWidth(110);
        columns.Add(model => model.Nombre).Titled("Nombre").SetWidth(110);

    }).Filterable(true).WithMultipleFilters().Sortable(true).SetLanguage("es").Selectable(true);

    @section scripts
{
        </div>
        @Scripts.Render("~/bundles/gridmvc")
        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>

        <script type="text/javascript">
            $(function () {
                pageGrids.Tallas.lang = gridmvc.lang.es;
            });
        </script>
    }
