﻿@model EventosCatolicos.Models.ClinicaGeneral
@{
    ViewBag.Title = "Página principal";
    
}

<div class="enfasis">

    <div class="row">
        <div class="col-md-4 ">
        </div>
        <div class="col-md-4 text-center ">
            <img class="" src="~/fonts/imagenes/icono eventos.jpg" alt="imagen" width="60" height="60">
        </div>
        <div class="col-md-4 ">
        </div>
    </div>
        <div class="row">
            <div class="col-md-4 ">
            </div>

            <div class="col-md-4 text-center">
                <h1 class="text-center">@Model.Nombre</h1>
            </div>
            <div class="col-md-4">
                <p class="text-right">
                    <a href="http://itligencia.com" class="btn btn-primary btn-lg">Visítanos Itligencia.com &raquo;</a>
                </p>
            </div>
        </div>
    </div>

<div class="enfasisM">
    <div class="row">
        @if (User.IsInRole("Ver Antecedentes") || User.IsInRole("IT"))
        {  <!-- 1-->

            <div class="col-md-4">
                <h2>Antecedentes</h2>
                <p>
                    <img src="~/fonts/imagenes/Antecedentes1.ico" alt="imagen" width="40" height="40">
                    @Html.ActionLink("Antecedentes", "Index", "Antecedentes", null, new { @class = "btn btn-default1" })
                </p>
            </div>
        }
        @if (User.IsInRole("Ver Archivos") || User.IsInRole("IT"))
        {<!-- 2-->
            <div class="col-md-4">
                <h2>Archivos</h2>
                <p>
                    <img src="~/fonts/imagenes/Archivo.ico" alt="imagen" width="35" height="35">
                    @Html.ActionLink("Archivos", "Index", "Archivos", null, new { @class = "btn btn-default1" })
                </p>
            </div>
        }
        @if (User.IsInRole("Ver AreasRecetario") || User.IsInRole("IT"))
        {<!-- 3-->
            <div class="col-md-4">
                <h2>Áreas Recetario</h2>
                <p>
                    <img src="~/fonts/imagenes/Recetario.ico" alt="imagen" width="40" height="40">
                    @Html.ActionLink("Áreas Recetario", "Index", "AreasRecetario", null, new { @class = "btn btn-default1" })
                </p>
            </div>
        }
    </div>
    <div class="row">
        @if (User.IsInRole("Ver CategoriasAntecedentes") || User.IsInRole("IT"))
        {<!-- 4-->
            <div class="col-md-4">
                <h2>Categoría Antecedentes</h2>
                <p>
                    <img src="~/fonts/imagenes/Categoria Antecedente.ico" alt="imagen" width="40" height="40">
                    @Html.ActionLink("Categoría Antecedentes", "Index", "CategoriasAntecedente", null, new { @class = "btn btn-default1" })
                </p>
            </div>
        }

        @if (User.IsInRole("Ver CategoriasDiagnostico") || User.IsInRole("IT"))
        {<!-- 5-->
            <div class="col-md-4">
                <h2>Categoría Diagnóstico</h2>
                <p>
                    <img src="~/fonts/imagenes/Categoria diagnostico.ico" alt="imagen" width="40" height="40">
                    @Html.ActionLink("Categoría Diagnóstico", "Index", "CategoriasDiagnostico", null, new { @class = "btn btn-default1" })
                </p>
            </div>
        }

        @if (User.IsInRole("Ver CategoriasTratamiento") || User.IsInRole("IT"))
        {<!-- 6-->
            <div class="col-md-4">
                <h2>Categoría Tratamiento</h2>
                <p>
                    <img src="~/fonts/imagenes/Categoria tratamiento.ico" alt="imagen" width="40" height="40">
                    @Html.ActionLink("Categoría Tratamiento", "Index", "CategoriasTratamiento", null, new { @class = "btn btn-default1" })
                </p>
            </div>
        }
    </div>
    <div class="row">
        @if (User.IsInRole("Ver Clinicas") || User.IsInRole("IT"))
        {<!-- 7-->
            <div class="col-md-4">
                <h2>Clínicas</h2>
                <p>
                    <img src="~/fonts/imagenes/clinica.ico" alt="imagen" width="40" height="40">
                    @Html.ActionLink(" Clínicas", "Index", "Clinicas", null, new { @class = "btn btn-default1" })
                </p>
            </div>
        }

        @if (User.IsInRole("Ver Consultas") || User.IsInRole("IT"))
        {<!-- 8-->
            <div class="col-md-4">
                <h2>Consultas</h2>
                <p>
                    <img src="~/fonts/imagenes/consulta.ico" alt="imagen" width="50" height="50">
                    @Html.ActionLink("Consultas", "Index", "Consultas", null, new { @class = "btn btn-default1" })
                </p>
            </div>
        }

        @if (User.IsInRole("Ver Departamentos") || User.IsInRole("IT"))
        {<!-- 9-->
            <div class="col-md-4">
                <h2>Departamentos</h2>
                <p>
                    <img src="~/fonts/imagenes/Departamentos.ico" alt="imagen" width="40" height="40">
                    @Html.ActionLink("Departamentos", "Index", "Departamentos", null, new { @class = "btn btn-default1" })
                </p>
            </div>
        }
    </div>
    <div class="row">
        @if (User.IsInRole("Ver Diagnosticos") || User.IsInRole("IT"))
        {<!-- 10-->
            <div class="col-md-4">
                <h2>Diagnósticos</h2>
                <p>
                    <img src="~/fonts/imagenes/Diagnostico.ico" alt="imagen" width="40" height="40">
                    @Html.ActionLink("Diagnósticos", "Index", "Diagnosticos", null, new { @class = "btn btn-default1" })
                </p>
            </div>
        }

        @if (User.IsInRole("Ver Especialidades") || User.IsInRole("IT"))
        {<!-- 11-->
            <div class="col-md-4">
                <h2>Especialidades</h2>
                <p>
                    <img src="~/fonts/imagenes/Tipo especialidades.ico" alt="imagen" width="50" height="50">
                    @Html.ActionLink("Especialidades", "Index", "Especialidades", null, new { @class = "btn btn-default1" })
                </p>
            </div>
        }

        @if (User.IsInRole("Ver EstadosCiviles") || User.IsInRole("IT"))
        {<!-- 12-->
            <div class="col-md-4">
                <h2>Estados Civiles</h2>
                <p>
                    <img src="~/fonts/imagenes/Estado civil.ico" alt="imagen" width="40" height="40">
                    @Html.ActionLink("Estados Civiles", "Index", "EstadosCiviles", null, new { @class = "btn btn-default1" })
                </p>
            </div>
        }
    </div>
    <div class="row">
        @if (User.IsInRole("Ver Examenes") || User.IsInRole("IT"))
        {<!-- 14-->
            <div class="col-md-4">
                <h2>Exámenes</h2>
                <p>
                    <img src="~/fonts/imagenes/Examenes.ico" alt="imagen" width="40" height="40">
                    @Html.ActionLink("Exámenes", "Index", "Examenes", null, new { @class = "btn btn-default1" })
                </p>
            </div>
        }

        @if (User.IsInRole("Ver GroupsAdmin") || User.IsInRole("IT"))
        {<!-- 15-->
            <div class="col-md-4">
                <h2>Grupos</h2>
                <p>
                    <img src="~/fonts/imagenes/Grupos.ico" alt="imagen" width="40" height="40">
                    @Html.ActionLink("Grupos", "Index", "GroupsAdmin", null, new { @class = "btn btn-default1" })
                </p>
            </div>
        }

        @if (User.IsInRole("Ver Medicos") || User.IsInRole("IT"))
        {<!-- 16-->
            <div class="col-md-4">
                <h2>Médicos</h2>
                <p>
                    <img src="~/fonts/imagenes/medico.ico" alt="imagen" width="40" height="40">
                    @Html.ActionLink("Médicos", "Index", "Medicos", null, new { @class = "btn btn-default1" })
                </p>
            </div>
        }
    </div>
    <div class="row">
        @if (User.IsInRole("Ver Municipios") || User.IsInRole("IT"))
        {<!-- 17-->
            <div class="col-md-4">
                <h2>Municipios</h2>
                <p>
                    <img src="~/fonts/imagenes/municipios.ico" alt="imagen" width="40" height="40">
                    @Html.ActionLink("Municipios", "Index", "Municipios", null, new { @class = "btn btn-default1" })
                </p>
            </div>
        }


        @if (User.IsInRole("Ver Nacionalidades") || User.IsInRole("IT"))
        {<!-- 18-->
            <div class="col-md-4">
                <h2>Nacionalidades</h2>
                <p>
                    <img src="~/fonts/imagenes/Nacionalidad.ico" alt="imagen" width="40" height="40">
                    @Html.ActionLink("Nacionalidades", "Index", "Nacionalidades", null, new { @class = "btn btn-default1" })
                </p>
            </div>
        }

        @if (User.IsInRole("Ver Pacientes") || User.IsInRole("IT"))
        {<!-- 19-->
            <div class="col-md-4">
                <h2>Pacientes</h2>
                <p>
                    <img src="~/fonts/imagenes/paciente.ico" alt="imagen" width="40" height="40">
                    @Html.ActionLink("Pacientes", "Index", "Pacientes", null, new { @class = "btn btn-default1" })
                </p>
            </div>
        }
    </div>
    <div class="row">
        @if (User.IsInRole("Ver Recetarios") || User.IsInRole("IT"))
        {<!-- 20-->
            <div class="col-md-4">
                <h2>Recetarios</h2>
                <p>
                    <img src="~/fonts/imagenes/Recetario.ico" alt="imagen" width="40" height="40">
                    @Html.ActionLink("Recetarios", "Index", "Recetarios", null, new { @class = "btn btn-default1" })
                </p>
            </div>
        }

        @if (User.IsInRole("Ver Profesiones") || User.IsInRole("IT"))
        {<!-- 21-->
            <div class="col-md-4">
                <h2>Profesiones</h2>
                <p>
                    <img src="~/fonts/imagenes/Recetario.ico" alt="imagen" width="40" height="40">
                    @Html.ActionLink("Profesiones", "Index", "Profesiones", null, new { @class = "btn btn-default1" })
                </p>
            </div>
        }

        @if (User.IsInRole("Ver RolesAdmin") || User.IsInRole("IT"))
        {<!-- 22-->
            <div class="col-md-4">
                <h2>Permisos</h2>
                <p>
                    <img src="~/fonts/imagenes/Roll.ico" alt="imagen" width="50" height="50">
                    @Html.ActionLink("Permisos", "Index", "RolesAdmin", null, new { @class = "btn btn-default1" })
                </p>
            </div>
        }
    </div>
    <div class="row">
        @if (User.IsInRole("Ver Sexos") || User.IsInRole("IT"))
        {<!-- 23-->
            <div class="col-md-4">
                <h2>Sexos</h2>
                <p>
                    <img src="~/fonts/imagenes/Sexo.ico" alt="imagen" width="40" height="40">
                    @Html.ActionLink("Sexos", "Index", "Sexos", null, new { @class = "btn btn-default1" })
                </p>
            </div>
        }

        @if (User.IsInRole("Ver Sintomas") || User.IsInRole("IT"))
        {<!-- 24-->
            <div class="col-md-4">
                <h2>Síntomas</h2>
                <p>
                    <img src="~/fonts/imagenes/municipios.ico" alt="imagen" width="40" height="40">
                    @Html.ActionLink("Síntomas", "Index", "Sintomas", null, new { @class = "btn btn-default1" })
                </p>
            </div>
        }

        @if (User.IsInRole("Ver Tallas") || User.IsInRole("IT"))
        {<!-- 25-->
            <div class="col-md-4">
                <h2>Tallas</h2>
                <p>
                    <img src="~/fonts/imagenes/Tallas.ico" alt="imagen" width="45" height="45">
                    @Html.ActionLink("Tallas", "Index", "Tallas", null, new { @class = "btn btn-default1" })
                </p>
            </div>
        }
    </div>
    <div class="row">
        @if (User.IsInRole("Ver TiposDireccion") || User.IsInRole("IT"))
        {<!-- 26-->
            <div class="col-md-4">
                <h2>Tipo Dirección</h2>
                <p>
                    <img src="~/fonts/imagenes/direccion.ico" alt="imagen" width="40" height="40">
                    @Html.ActionLink("Tipo Dirección", "Index", "TiposDireccion", null, new { @class = "btn btn-default1" })
                </p>
            </div>
        }

        @if (User.IsInRole("Ver TiposEspecialidad") || User.IsInRole("IT"))
        {<!-- 27-->
            <div class="col-md-4">
                <h2>Tipo Especialidad</h2>
                <p>
                    <img src="~/fonts/imagenes/municipios.ico" alt="imagen" width="40" height="40">
                    @Html.ActionLink("Tipo Especialidad", "Index", "TiposEspecialidad", null, new { @class = "btn btn-default1" })
                </p>
            </div>
        }

        @if (User.IsInRole("Ver TipoIdentificacion") || User.IsInRole("IT"))
        {<!-- 28-->
            <div class="col-md-4">
                <h2>Tipo Identificación</h2>
                <p>
                    <img src="~/fonts/imagenes/Tipo identificacion.ico" alt="imagen" width="45" height="45">
                    @Html.ActionLink("Tipo Identificación", "Index", "TiposIdentificacion", null, new { @class = "btn btn-default1" })
                </p>
            </div>
        }
    </div>
    <div class="row">
        @if (User.IsInRole("Ver TiposSangre") || User.IsInRole("IT"))
        {<!-- 29-->
            <div class="col-md-4">
                <h2>Tipo Sangre</h2>
                <p>
                    <img src="~/fonts/imagenes/Tipo de Sangre.ico" alt="imagen" width="60" height="60">
                    @Html.ActionLink("Tipo Sangre", "Index", "TiposSangre", null, new { @class = "btn btn-default1" })
                </p>
            </div>
        }

        @if (User.IsInRole("Ver Tratamiento") || User.IsInRole("IT"))
        {<!-- 30-->
            <div class="col-md-4">
                <h2>Tratamiento</h2>
                <p>
                    <img src="~/fonts/imagenes/Tratamiento.ico" alt="imagen" width="50" height="50">
                    @Html.ActionLink("Tratamiento", "Index", "Tratamientos", null, new { @class = "btn btn-default1" })
                </p>
            </div>
        }

        @if (User.IsInRole("Administrar Usuarios") || User.IsInRole("IT"))
        {<!-- 30-->
            <div class="col-md-4">
                <h2>Usuarios</h2>
                <p>
                    <img src="~/fonts/imagenes/usuario.ico" alt="imagen" width="40" height="40">
                    @Html.ActionLink("Usuarios", "Index", "UsersAdmin", null, new { @class = "btn btn-default1" })
                </p>
            </div>
        }
    </div>
    @section Scripts{
    </div>
}