﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Eventos Católicos</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jquery-ui")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <div>
                @Html.Partial("_LoginPartial")
            </div>
        </div>

    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <div class="clearfix"></div>
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - ITligencia</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery-ui")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
<script type="text/javascript">
    
    var dayNames = ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"];
    var dayNamesMin = ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"];
    var monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
    var monthNamesShort = ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"];
    var dateFormat = "dd-mm-yy";
    var yearRange = "-100:+0";

    function customDatepicker(selector, changeMonth, changeYear, minDate) {
        var dateObject = {
            changeMonth: changeMonth,
            changeYear: changeYear,
            //dateFormat: dateFormat,
            yearRange: yearRange,
            dayNames: dayNames,
            dayNamesMin: dayNamesMin,
            monthNames: monthNames,
            monthNamesShort: monthNamesShort
        }
        if (minDate !== undefined) {
            dateObject.minDate = minDate;
        }
        $(selector).datepicker(dateObject);
    }

    customDatepicker('.datepicker', false, false);
    customDatepicker('.datepicker-editable', true, true);
    customDatepicker('.datepicker-restricted', true, true, new Date());

</script>
</body>
</html>
