﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
        <li>@Html.ActionLink("Pacientes", "Index", "Pacientes")</li>
        <li>@Html.ActionLink("Consultas", "Index", "Consultas")</li>
        <li>@Html.ActionLink("Médicos", "Index", "Medicos")</li>
        <li>@Html.ActionLink("Recetarios", "Index", "Recetarios")</li>
        @if (User.IsInRole("Admin") || User.IsInRole("IT"))
        {
        <li>@Html.ActionLink("Grupos", "Index", "GroupsAdmin")</li>
        <li>@Html.ActionLink("Usuarios", "Index", "UsersAdmin")</li>
        <li>@Html.ActionLink("Permisos", "Index", "RolesAdmin")</li>
        }
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <!--li class="hidden-sm">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar..." style="max-width: 400px">
                    <span class="input-group-btn">
                        <button class="btn btn-default"><span class="glyphicon glyphicon-search" type="button"></span></button>
                    </span>
                </div>
            </form>
        </li-->
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
    </ul>

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
