﻿@model IEnumerable<EventosCatolicos.Models.Sintoma>
@using GridMvc.Html
@{
    ViewBag.Title = "Síntomas";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Síntomas</h2>

    @if (User.IsInRole("Administrar Sintomas") || User.IsInRole("IT"))
    {
        <p>
            <a class="btn btn-default1" data-toggle="tooltip" title="Crear"
               href="@Url.Action("Create", new { controller = "Sintomas" })">
                <span class=" glyphicon glyphicon-plus color-verde" aria-hidden="true"></span>
                Crear
            </a>
        </p>
    }
    @Html.Grid(Model).Named("Sintomas").EmptyText("No hay elementos para mostrar").Columns(columns =>
    {
        columns.Add().Titled("Opciones").Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(e =>
            @<span>
                @if (User.IsInRole("Administrar Sintomas") || User.IsInRole("IT"))
                {
                    @Html.ActionLink(" ", "Edit", new { id = e.Id }, new { data_toggle = "tooltip", title = "Editar", @class = "btn1 btn-default1 " + EventosCatolicos.Servicios.clsOpciones.SIconoEditar })
                }
                @if (User.IsInRole("Ver Sintomas") || User.IsInRole("IT"))
                {
                    @Html.ActionLink(" ", "Details", new { id = e.Id }, new { data_toggle = "tooltip", title = "Detalles", @class = "btn1 btn-default1 color-azul" + EventosCatolicos.Servicios.clsOpciones.SIconoDetalles })
                }
                @if (User.IsInRole("Eliminar Sintomas") || User.IsInRole("IT"))
                {
                    @Html.ActionLink(" ", "Delete", new { id = e.Id }, new { data_toggle = "tooltip", title = "Eliminar", @class = "btn1 btn-default1 color-rojo " + EventosCatolicos.Servicios.clsOpciones.SIconoEliminar })
                }
            </span>).SetWidth(200);
        columns.Add(model => model.Nombre).Titled("Nombre").SetWidth(110);
        columns.Add(model => model.Descripcion).Titled("Descripción").SetWidth(110);

    }).Filterable(true).WithMultipleFilters().Sortable(true).SetLanguage("es").Selectable(true).WithPaging(10)

    @section scripts
{
        @Scripts.Render("~/bundles/gridmvc")
    </div>
        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>

        <script type="text/javascript">
            $(function () {
                pageGrids.Sintomas.lang = gridmvc.lang.es;
            });
        </script>
    }
