﻿@model EventosCatolicos.Models.Medico

@{
    ViewBag.Title = "Médicos";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Médicos</h2>

    <h3>@EventosCatolicos.Servicios.clsOpciones.SMensajeEliminar el médico?</h3>
    <div>
        <h4>Medico</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ApplicationUser.PrimerNombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApplicationUser.PrimerNombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ApplicationUser1.PrimerNombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApplicationUser1.PrimerNombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UsuarioId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UsuarioId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PrimerNombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PrimerNombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SegundoNombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SegundoNombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PrimerApellido)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PrimerApellido)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SegundoApellido)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SegundoApellido)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ApellidoCasada)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApellidoCasada)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Direccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TelefonoCasa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TelefonoCasa)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TelefonoCelular)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TelefonoCelular)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CorreoElectronico)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CorreoElectronico)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HoraEntrada)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HoraEntrada)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HoraSalida)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HoraSalida)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaAlta)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaAlta)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Observaciones)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Observaciones)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedFrom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedFrom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedAt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedAt)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedFrom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedFrom)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="btn-group" role="group" aria-label="...">
                @Html.ActionLink(" ", "Index", "Medicos", null, new { data_toggle = "tooltip", title = "Regresar", @class = "btn btn-default glyphicon glyphicon-arrow-left color-verde" })
                <button type="submit" class="btn btn-default color-rojo @EventosCatolicos.Servicios.clsOpciones.SIconoEliminar" data-toggle="tooltip" title="Eliminar "></button>
            </div>
        }
    </div>
    @section Scripts {
</div>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}