﻿@model EventosCatolicos.Models.Medico

@{
    ViewBag.Title = "Médicos";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Médicos</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ApplicationUser.PrimerNombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApplicationUser.PrimerNombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ApplicationUser1.PrimerNombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApplicationUser1.PrimerNombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UsuarioId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApplicationUser.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PrimerNombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PrimerNombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SegundoNombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SegundoNombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PrimerApellido)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PrimerApellido)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SegundoApellido)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SegundoApellido)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ApellidoCasada)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApellidoCasada)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Direccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TelefonoCasa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TelefonoCasa)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TelefonoCelular)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TelefonoCelular)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CorreoElectronico)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CorreoElectronico)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HoraEntrada)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HoraEntrada)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HoraSalida)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HoraSalida)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaAlta)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaAlta)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Observaciones)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Observaciones)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedFrom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedFrom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedAt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedAt)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedFrom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedFrom)
            </dd>

        </dl>
    </div>
    <p>
        <div class="btn-group" role="group" aria-label="...">
            @Html.ActionLink(" ", "Index", "Medicos", null, new { data_toggle = "tooltip", title = "Regresar", @class = "btn btn-default glyphicon glyphicon-arrow-left color-verde" })
            @Html.ActionLink(" ", "Edit", "Medicos", new { id = Model.Id }, new { data_toggle = "tooltip", title = "Editar", @class = "btn btn-default " + @EventosCatolicos.Servicios.clsOpciones.SIconoEditar })
        </div>
    </p>
@section Scripts {
    </div>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip" ]').tooltip();
        });
    </script>
    }