﻿@model EventosCatolicos.Models.Medico

@{
    ViewBag.Title ="Médicos";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>@EventosCatolicos.Servicios.clsOpciones.SEditar</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <h4>Medico</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.UsuarioId,  htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.UsuarioId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UsuarioId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.PrimerNombre, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.PrimerNombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PrimerNombre, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.SegundoNombre, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.SegundoNombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SegundoNombre, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.PrimerApellido, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.PrimerApellido, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PrimerApellido, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.SegundoApellido, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.SegundoApellido, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SegundoApellido, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.ApellidoCasada, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.ApellidoCasada, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ApellidoCasada, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.TelefonoCasa, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.TelefonoCasa, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TelefonoCasa, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.TelefonoCelular, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.TelefonoCelular, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TelefonoCelular, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.CorreoElectronico, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.CorreoElectronico, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CorreoElectronico, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.HoraEntrada, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.HoraEntrada, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HoraEntrada, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.HoraSalida, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.HoraSalida, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HoraSalida, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.FechaAlta, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.FechaAlta, new { htmlAttributes = new { @class = "form-control datepicker" } })
            @Html.ValidationMessageFor(model => model.FechaAlta, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.Observaciones, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Observaciones, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Observaciones, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-10">
            <div class="btn-group" role="group" aria-label="...">
                @Html.ActionLink(" ", "Index", "Medicos", null, new { data_toggle = "tooltip", title = "Regresar", @class = "btn btn-default glyphicon  glyphicon glyphicon-arrow-left color-verde" })
                <button type="submit" class="btn btn-default imagenGuardar" data-toggle="tooltip" title="Guardar"></button>
            </div>
        </div>
    }
    
    @section Scripts {
        </div>
        @Scripts.Render("~/bundles/jqueryval")
        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
    }
