﻿@model IEnumerable<EventosCatolicos.Models.Medico>
@using GridMvc.Html
@using Microsoft.Ajax.Utilities
@{
    ViewBag.Title = "Médicos";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Médicos</h2>
    @if (User.IsInRole("Administrar Medicos") || User.IsInRole("IT"))
    {
        <p>
            <a class="btn btn-default1" data-toggle="tooltip" title="Crear"
               href="@Url.Action("Create", new {controller = "Medicos"})">
                <span class=" glyphicon glyphicon-plus color-verde" aria-hidden="true"></span>
                Crear
            </a>
        </p>
    }
    <div class="horizontal-scroll">
        @Html.Grid(Model).Named("Medico").EmptyText("No hay elementos para mostrar").Columns(columns =>
    {
        columns.Add().Titled("Opciones").Encoded(false).Sanitized(false).RenderValueAs(e =>
            @<span>
                @if (User.IsInRole("Administrar Medicos") || User.IsInRole("IT"))
                {
                    @Html.ActionLink(" ", "Edit", new { id = e.Id }, new { data_toggle = "tooltip", title = "Editar", @class = "btn1 btn-default1 " + EventosCatolicos.Servicios.clsOpciones.SIconoEditar })
                }
                @if (User.IsInRole("Ver Medicos") || User.IsInRole("IT"))
                {
                    @Html.ActionLink(" ", "Details", new { id = e.Id }, new { data_toggle = "tooltip", title = "Detalles", @class = "btn1 btn-default1 color-azul" + EventosCatolicos.Servicios.clsOpciones.SIconoDetalles })
                }
                @if (User.IsInRole("Eliminar Medicos") || User.IsInRole("IT"))
                {
                    @Html.ActionLink(" ", "Delete", new { id = e.Id }, new { data_toggle = "tooltip", title = "Eliminar", @class = "btn1 btn-default1 color-rojo " + EventosCatolicos.Servicios.clsOpciones.SIconoEliminar })
                }
            </span>).SetWidth(200);
        columns.Add(model => model.Id).Titled("Código").SetWidth(110);
        columns.Add(model => model.PrimerNombre).Titled("Primer Nombre").SetWidth(110);
        columns.Add(model => model.SegundoNombre).Titled("Segundo Nombre").SetWidth(110);
        columns.Add(model => model.PrimerApellido).Titled("Primer Apellido").SetWidth(110);
        columns.Add(model => model.SegundoApellido).Titled("Segundo Apellido").SetWidth(110);
        columns.Add(model => model.HoraEntrada).Titled("Hora Entrada").SetWidth(110);
        columns.Add(model => model.HoraSalida).Titled("Hora Salida").SetWidth(110);

    }).Filterable(true).WithMultipleFilters().Sortable(true).SetLanguage("es").Selectable(true).WithPaging(10)
    </div>
        @section scripts
{
        </div>

        @Scripts.Render("~/bundles/gridmvc")
        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>

        <script type="text/javascript">
            $(function () {
                pageGrids.Medico.lang = gridmvc.lang.es;
            });
        </script>
    }
