﻿@model IEnumerable<EventosCatolicos.Models.Nacionalidad>
@using GridMvc.Html
@{
    ViewBag.Title = "Nacionalidades";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Nacionalidades</h2>
    @if (User.IsInRole("Administrar Nacionalidades") || User.IsInRole("IT"))
    {
        <p>
            <a class="btn btn-default1" data-toggle="tooltip" title="Crear"
               href="@Url.Action("Create", new {controller = "Nacionalidades"})">
                <span class=" glyphicon glyphicon-plus color-verde" aria-hidden="true"></span>
                Crear
            </a>
        </p>
    }
    @Html.Grid(Model).Named("Municipios").EmptyText("No hay elementos para mostrar").Columns(columns =>
    {
        columns.Add().Titled("Opciones").Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(e =>
            @<span>
                @if (User.IsInRole("Administrar Nacionalidades") || User.IsInRole("IT"))
                {
                    @Html.ActionLink(" ", "Edit", new { id = e.Id }, new { data_toggle = "tooltip", title = "Editar", @class = "btn1 btn-default1 " + EventosCatolicos.Servicios.clsOpciones.SIconoEditar })
                }
                @if (User.IsInRole("Ver Nacionalidades") || User.IsInRole("IT"))
                {
                    @Html.ActionLink(" ", "Details", new { id = e.Id }, new { data_toggle = "tooltip", title = "Detalles", @class = "btn1 btn-default1 color-azul" + EventosCatolicos.Servicios.clsOpciones.SIconoDetalles })
                }
                @if (User.IsInRole("Eliminar Nacionalidades") || User.IsInRole("IT"))
                {
                    @Html.ActionLink(" ", "Delete", new { id = e.Id }, new { data_toggle = "tooltip", title = "Eliminar", @class = "btn1 btn-default1 color-rojo " + EventosCatolicos.Servicios.clsOpciones.SIconoEliminar })
                }
            </span>).SetWidth(200);
        columns.Add(model => model.Id).Titled("Código").SetWidth(110);
        columns.Add(model => model.Nombre).Titled("Nombre").SetWidth(110);

    }).Filterable(true).WithMultipleFilters().Sortable(true).SetLanguage("es").Selectable(true);

    @section scripts
{
        @Scripts.Render("~/bundles/gridmvc")
    </div>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
    <script type="text/javascript">
        $(function () {
            pageGrids.Municipios.lang = gridmvc.lang.es;
        });
    </script>
}