﻿@using EventosCatolicos.Servicios
@model EventosCatolicos.Models.Antecedente

@{
    ViewBag.Title = "Antecedentes";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Antecedentes</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelForRequired(model => model.Nombre)
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelForRequired(model => model.Descripcion)
            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.CategoriaId, htmlAttributes: new { @class = "control-label " })
            @Html.DropDownList("CategoriaId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CategoriaId, "", new { @class = "text-danger" })
        </div>
        <div class="clearfix"></div>
        <hr />

        <div class="btn-group" role="group" aria-label="...">
            @Html.ActionLink(" ", "Index", "Antecedentes", null, new { data_toggle = "tooltip", title = "Regresar", @class = "btn btn-default glyphicon glyphicon-arrow-left color-verde" })
            <button type="submit" class="btn btn-default imagenGuardar color-azul" data-toggle="tooltip" title="Guardar"></button>
        </div>

    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    </div>
        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
    }
