﻿@model EventosCatolicos.Models.Antecedente

@{
    ViewBag.Title = "Delete";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Eliminar</h2>

    <h3>Esta seguro que desea eliminar el Antecedente?</h3>
    <div>
        <h4>Antecedente</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CategoriaAntecedente.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CategoriaAntecedente.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="btn-group" role="group" aria-label="...">
                @Html.ActionLink(" ", "Index", "Antecedentes", null, new { data_toggle = "tooltip", title = "Regresar", @class = "btn btn-default glyphicon glyphicon-arrow-left color-verde" })
                <button type="submit" class="btn btn-default color-rojo @EventosCatolicos.Servicios.clsOpciones.SIconoEliminar" data-toggle="tooltip" title="Eliminar "></button>
            </div>
        }
    </div>
    @section scripts
{
    </div>
          @Scripts.Render("~/bundles/gridmvc")
        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip" ]').tooltip();
            });
        </script>
        <script type="text/javascript">
            $(function () {
                pageGrids.Antecedentes.lang = gridmvc.lang.es;
            });
        </script>
    }
