﻿@using EventosCatolicos.Servicios
@model EventosCatolicos.ViewModels.ManageGroupViewModel

@{
    ViewBag.Title = "Grupos";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Grupos</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <h4>Gruposp</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.Name, new { @class = "control-label" })
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.Description, new { @class = "control-label" })
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div class="form-group col-md-10">
            <label class="control-label">
                Seleccionar el grupo de los roles
            </label>
            <div class="col-md-10">
                @foreach (var item in @Model.RolesList)
                {
                    <div>
                        <input type="checkbox" name="SelectedRoles" value="@item.Text" class="checkbox-inline" />
                        @Html.Label(item.Text, new { @class = "control-label" })
                    </div>
                }
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="form-group">
            <div class="btn-group" role="group" aria-label="...">
                @Html.ActionLink(" ", "Index", "GroupsAdmin", null, new { data_toggle = "tooltip", title = "Regresar", @class = "btn btn-default glyphicon glyphicon-arrow-left color-verde" })
                <button type="submit" class="btn btn-default imagenGuardar color-azul" data-toggle="tooltip" title="Guardar"></button>
            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    </div>
        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
    }
