﻿@model EventosCatolicos.ViewModels.DetailsGroupViewModel

@{
    ViewBag.Title ="Grupos";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Grupos</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

        </dl>
    </div>

    <h4>Lista de permisos que posee este grupo</h4>
    @if (@Model.CountRoles == 0)
    {
        <hr />
        <p>No hay permisos para este grupo.</p>
    }

    <table class="table">

        @foreach (var item in @Model.RolesList)
        {
            <tr>
                <td>
                    @item.Name
                </td>
            </tr>
        }
    </table>

    <h4>Lista de usuarios que posee este grupo</h4>
    @if (@Model.CountRoles == 0)
    {
        <hr />
        <p>No hay usuarios en este grupo.</p>
    }

    <table class="table">

        @foreach (var item in @Model.UsersList)
        {
            <tr>
                <td>
                    @item.UserName
                </td>
            </tr>
        }
    </table>
    <p>
        <div class="btn-group" role="group" aria-label="...">
            @Html.ActionLink(" ", "Index", "GroupsAdmin", null, new { data_toggle = "tooltip", title = "Regresar", @class = "btn btn-default glyphicon glyphicon-arrow-left color-verde" })
            @Html.ActionLink(" ", "Edit", "GroupsAdmin", new { id = Model.Id }, new { data_toggle = "tooltip", title = "Editar", @class = "btn btn-default " + @EventosCatolicos.Servicios.clsOpciones.SIconoEditar })
        </div>
    </p>
    @section scripts
{
        </div>
        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip" ]').tooltip();
            });
        </script>
        <script type="text/javascript">
            $(function () {
                pageGrids.Antecedentes.lang = gridmvc.lang.es;
            });
        </script>
    }
