﻿@model EventosCatolicos.ViewModels.ManageGroupViewModel
@{
    ViewBag.Title = "Grupos";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Grupos</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h4>ApplicationGroup</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.Name, new { @class = "control-label" })
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.Description, new { @class = "control-label " })
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.Label("Permisos", new { @class = "control-label" })
            <span class=" col-md-10">
                @foreach (var item in @Model.RolesList)
                {
                    @Html.Label(item.Text, new { @class = "control-label" })
                    <input type="checkbox" name="selectedRoles" value="@item.Text" checked="@item.Selected" class="checkbox-inline" />
                }
            </span>
        </div>

        <div class="form-group col-md-10">
            <div class="btn-group" role="group" aria-label="...">
                @Html.ActionLink(" ", "Index", "GroupsAdmin", null, new { data_toggle = "tooltip", title = "Regresar", @class = "btn btn-default glyphicon  glyphicon glyphicon-arrow-left color-verde" })
                <button type="submit" class="btn btn-default imagenGuardar color-azul" data-toggle="tooltip" title="Guardar"></button>
            </div>
        </div>
    }

    @section Scripts {
        </div>
        @Scripts.Render("~/bundles/jqueryval")
        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
    }
