﻿@model IEnumerable<EventosCatolicos.ViewModels.ApplicationGroupViewModel>
@using GridMvc.Html
@{
    ViewBag.Title = "Grupos";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Grupos</h2>
    @if (User.IsInRole("Ver GroupsAdmin") || User.IsInRole("IT"))
     {
    <p>
        <a class="btn btn-default1" data-toggle="tooltip" title="Crear"
           href="@Url.Action("Create", new { controller = "GroupsAdmin" })">
            <span class=" glyphicon glyphicon-plus color-verde" aria-hidden="true"></span>
            Crear
        </a>
    </p>
    }
    @Html.Grid(Model).Named("Grupos").EmptyText("No hay elementos para mostrar").Columns(columns =>
    {
        columns.Add().Titled("Opciones").Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(e =>
            @<span>
                @if (User.IsInRole("Administrar GroupsAdmin") || User.IsInRole("IT"))
                {
                    @Html.ActionLink(" ", "Edit", new { id = e.Id }, new { data_toggle = "tooltip", title = "Editar", @class = "btn1 btn-default " + EventosCatolicos.Servicios.clsOpciones.SIconoEditar })
                }
                @if (User.IsInRole("Ver GroupsAdmin") || User.IsInRole("IT"))
                {
                    @Html.ActionLink(" ", "Details", new { id = e.Id }, new { data_toggle = "tooltip", title = "Detalles", @class = "btn1 btn-default color-azul" + EventosCatolicos.Servicios.clsOpciones.SIconoDetalles })
                }
                @if (User.IsInRole("Eliminar GroupsAdmin") || User.IsInRole("IT"))
                {
                    @Html.ActionLink(" ", "Delete", new { id = e.Id }, new { data_toggle = "tooltip", title = "Eliminar", @class = "btn1 btn-default color-rojo " + EventosCatolicos.Servicios.clsOpciones.SIconoEliminar })
                }
            </span>).SetWidth(200);
        columns.Add(model => model.Name).Titled("Nombre").SetWidth(110);
        columns.Add(model => model.Description).Titled("Descripción").SetWidth(110);

    }).Filterable(true).WithMultipleFilters().Sortable(true).SetLanguage("es").Selectable(true)

    @section scripts
{
        </div>
        @Scripts.Render("~/bundles/gridmvc")
        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>

        <script type="text/javascript">
            $(function () {
                pageGrids.Grupos.lang = gridmvc.lang.es;
            });
        </script>
    }
