﻿@using EventosCatolicos.Servicios
@model EventosCatolicos.Models.Paciente

@{
    ViewBag.Title = "Paciente";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Paciente</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <h3>Datos Generales</h3>
    <hr />
    <div class="form-group col-sm-6 col-md-4">
        @Html.LabelForRequired(model => model.PrimerNombre)
        @Html.EditorFor(model => model.PrimerNombre, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PrimerNombre, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-sm-6 col-md-4">
        @Html.LabelFor(model => model.SegundoNombre, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.SegundoNombre, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.SegundoNombre, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-sm-6 col-md-4">
        @Html.LabelForRequired(model => model.PrimerApellido)
        @Html.EditorFor(model => model.PrimerApellido, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PrimerApellido, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-sm-6 col-md-4">
        @Html.LabelFor(model => model.SegundoApellido, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.SegundoApellido, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.SegundoApellido, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-sm-6 col-md-4">
        @Html.LabelFor(model => model.ApellidoCasada, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.ApellidoCasada, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ApellidoCasada, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-sm-6 col-md-4">
        @Html.LabelForRequired(model => model.FechaNacimiento)
        @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control datepicker-editable" } })
        @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-sm-6 col-md-4">
        @Html.LabelForRequired(model => model.TipoIdentificacionId)
        @Html.DropDownList("TipoIdentificacionId", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TipoIdentificacionId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-sm-6 col-md-4">
        @Html.LabelForRequired(model => model.NoIdentificacion)
        @Html.EditorFor(model => model.NoIdentificacion, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.NoIdentificacion, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-sm-6 col-md-4">
        @Html.LabelFor(model => model.NacionalidadId, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownList("NacionalidadId", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.NacionalidadId, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-sm-6 col-md-4">
            @Html.LabelForRequired(model => model.SexoId)
            @Html.DropDownList("SexoId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SexoId, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.ArchivoId, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("ArchivoId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ArchivoId, "", new { @class = "text-danger" })
    </div>
    <div class="clearfix"></div>
    <h3>Detalles</h3>
    <hr />
    <div class="form-group col-sm-6 col-md-4">
        @Html.LabelFor(model => model.TallaId, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownList("TallaId", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TallaId, "", new { @class = "text-danger" })
    </div>
    
    <div class="form-group col-sm-6 col-md-4">
        @Html.LabelFor(model => model.TipoSangreId, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownList("TipoSangreId", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TipoSangreId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-sm-6 col-md-4">
        @Html.LabelFor(model => model.EstadoCivilId, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownList("EstadoCivilId", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.EstadoCivilId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-sm-6 col-md-4">
        @Html.LabelFor(model => model.CorreoElectronico, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.CorreoElectronico, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.CorreoElectronico, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-sm-6 col-md-4">
        @Html.LabelFor(model => model.TipoDireccionId, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownList("TipoDireccionId", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TipoDireccionId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-sm-6 col-md-4">
        @Html.LabelFor(model => model.OtroTipoDireccion, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.OtroTipoDireccion, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.OtroTipoDireccion, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-sm-6 col-md-4">
        @Html.LabelFor(model => model.NoCasa, htmlAttributes: new { @class = "control-label" })
       @Html.TextBoxFor(model => model.NoCasa, new { @type = "number" })
 @*   @Html.EditorFor(model => model.NoCasa, new { htmlAttributes = new { @class = "form-control" } })*@
        @Html.ValidationMessageFor(model => model.NoCasa, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-sm-6 col-md-4">
        @Html.LabelFor(model => model.Zona, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Zona, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Zona, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-sm-6 col-md-4">
        @Html.LabelFor(model => model.MunicipioId,  htmlAttributes: new { @class = "control-label" })
        @Html.DropDownList("MunicipioId", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.MunicipioId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-sm-6 col-md-4">
        @Html.LabelFor(model => model.TelefonoCasa, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(model => model.TelefonoCasa, new { @type = "number" })
  @*      @Html.EditorFor(model => model.TelefonoCasa, new { htmlAttributes = new { @class = "form-control" } }) *@
        @Html.ValidationMessageFor(model => model.TelefonoCasa, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.TelefonoCelular, htmlAttributes: new { @class = "control-label" })
            @*@Html.EditorFor(model => model.TelefonoCelular, new { htmlAttributes = new { @class = "form-control" } }) *@
            @Html.TextBoxFor(model => model.TelefonoCelular, new { @type = "number" })           
            @Html.ValidationMessageFor(model => model.TelefonoCelular, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.ProfesionId, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("ProfesionId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ProfesionId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.Religion, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Religion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Religion, "", new { @class = "text-danger" })
        </div>
        <div class="clearfix"></div>
        <h3>Datos de Contacto</h3>
        <hr />
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.ContactoNombre, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.ContactoNombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ContactoNombre, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.ContactoTelefono, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ContactoTelefono, new { @type = "number" })
         @*  @Html.EditorFor(model => model.ContactoTelefono, new { htmlAttributes = new { @class = "form-control" } }) *@
            @Html.ValidationMessageFor(model => model.ContactoTelefono, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.ContactoCelular, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ContactoCelular, new { @type = "number"})
         @*   @Html.EditorFor(model => model.ContactoCelular, new { htmlAttributes = new { @class = "form-control" } })  *@
            @Html.ValidationMessageFor(model => model.ContactoCelular, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.ContactoDireccion, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.ContactoDireccion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ContactoDireccion, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
                @Html.LabelFor(model => model.ContactoCorreo, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.ContactoCorreo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContactoCorreo, "", new { @class = "text-danger" })
        </div>
        <div class="clearfix"></div>
        <h3>Datos de Representante</h3>
        <hr />
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.RepPrimerNombre, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.RepPrimerNombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RepPrimerNombre, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.RepSegundoNombre, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.RepSegundoNombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RepSegundoNombre, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.RepPrimerApellido, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.RepPrimerApellido, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RepPrimerApellido, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.RepSegundoApellido, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.RepSegundoApellido, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RepSegundoApellido, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.RepTipoIdentificacionId, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("RepTipoIdentificacionId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RepTipoIdentificacionId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.RepNoIdentificacion, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.RepNoIdentificacion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RepNoIdentificacion, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.RepNacionalidadId, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("RepNacionalidadId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RepNacionalidadId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.RepSexoId,  htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("RepSexoId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RepSexoId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.RepFechaNacimiento, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.RepFechaNacimiento, new { htmlAttributes = new { @class = "form-control datepicker-editable" } })
            @Html.ValidationMessageFor(model => model.RepFechaNacimiento, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.RepEstadoCivilId, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("RepEstadoCivilId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RepEstadoCivilId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.RepCorreoElectronico, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.RepCorreoElectronico, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RepCorreoElectronico, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.RepTipoDireccionId, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("RepTipoDireccionId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RepTipoDireccionId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.RepOtroTipoDireccion, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.RepOtroTipoDireccion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RepOtroTipoDireccion, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.RepNoCasa, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.RepNoCasa, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RepNoCasa, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.RepZona, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.RepZona, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RepZona, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(model => model.RepMunicipioId, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("RepMunicipioId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RepMunicipioId, "", new { @class = "text-danger" })
        </div>

        <div class="clearfix"></div>
        <div class="form-group">
            <div class="btn-group" role="group" aria-label="...">
                    @Html.ActionLink(" ", "Index", "Pacientes", null, new { data_toggle = "tooltip", title = "Regresar", @class = "btn btn-default glyphicon glyphicon-arrow-left color-verde" })
                  <button type="submit" class="btn btn-default imagenGuardar color-azul" data-toggle="tooltip" title="Guardar"></button>
            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        </div>
        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
    }