﻿@model EventosCatolicos.Models.Paciente

@{
    ViewBag.Title = "Paciente";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Paciente</h2>
    <div>
    <hr/>
        <dl class="dl-horizontal col-md-6">
            <dt>
                @Html.DisplayNameFor(model => model.PrimerNombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PrimerNombre)
            </dd>
9
            <dt>
                @Html.DisplayNameFor(model => model.SegundoNombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SegundoNombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PrimerApellido)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PrimerApellido)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SegundoApellido)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SegundoApellido)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ApellidoCasada)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApellidoCasada)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaNacimiento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NoIdentificacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NoIdentificacion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CorreoElectronico)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CorreoElectronico)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OtroTipoDireccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OtroTipoDireccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NoCasa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NoCasa)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Zona)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Zona)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TelefonoCasa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TelefonoCasa)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TelefonoCelular)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TelefonoCelular)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Religion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Religion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ContactoNombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContactoNombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ContactoTelefono)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContactoTelefono)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ContactoCelular)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContactoCelular)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ContactoDireccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContactoDireccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ContactoCorreo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContactoCorreo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ApplicationUser.PrimerNombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApplicationUser.PrimerNombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ApplicationUser1.SegundoNombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApplicationUser1.SegundoNombre)
            </dd>
           
            <dt>
                @Html.DisplayNameFor(model => model.EstadoCivil)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EstadoCivil.Nombre)
            </dd>

            @*<dt>
        @Html.DisplayNameFor(model => model.EstadoCivil1.Nombre)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.EstadoCivil1.Nombre)
    </dd>
            *@
            <dt>
                @Html.DisplayNameFor(model => model.Municipio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Municipio.Nombre)
            </dd>
@*
            <dt>
                @Html.DisplayNameFor(model => model.Municipio1.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Municipio1.Nombre)
            </dd>
*@
            <dt>
                @Html.DisplayNameFor(model => model.Nacionalidad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nacionalidad.Nombre)
            </dd>
            @*
            <dt>
                @Html.DisplayNameFor(model => model.Nacionalidad1.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nacionalidad1.Nombre)
            </dd>
            *@
            <dt>
                @Html.DisplayNameFor(model => model.Profesion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Profesion.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sexo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sexo.Nombre)
            </dd>
@*
    <dt>
        @Html.DisplayNameFor(model => model.Sexo1.Nombre)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Sexo1.Nombre)
    </dd>
*@
            <dt>
                @Html.DisplayNameFor(model => model.Talla)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Talla.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TipoDireccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TipoDireccion.Nombre)
            </dd>
@*
    <dt>
        @Html.DisplayNameFor(model => model.TipoDireccion1.Nombre)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.TipoDireccion1.Nombre)
    </dd>
*@
            <dt>
                @Html.DisplayNameFor(model => model.TipoIdentificacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TipoIdentificacion.Nombre)
            </dd>
@*
    <dt>
        @Html.DisplayNameFor(model => model.TipoIdentificacion1.Nombre)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.TipoIdentificacion1.Nombre)
    </dd>
*@
            <dt>
                @Html.DisplayNameFor(model => model.TipoSangre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TipoSangre.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RepPrimerNombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RepPrimerNombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RepSegundoNombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RepSegundoNombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RepPrimerApellido)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RepPrimerApellido)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RepSegundoApellido)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RepSegundoApellido)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RepNoIdentificacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RepNoIdentificacion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RepFechaNacimiento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RepFechaNacimiento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RepCorreoElectronico)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RepCorreoElectronico)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RepOtroTipoDireccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RepOtroTipoDireccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RepNoCasa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RepNoCasa)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RepZona)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RepZona)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApplicationUser.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedFrom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedFrom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedAt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedAt)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApplicationUser1.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedFrom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedFrom)
            </dd>

        </dl>
    </div>
    <p>
        <div class="btn-group" role="group" aria-label="...">
            @Html.ActionLink(" ", "Index", "Pacientes", null, new { data_toggle = "tooltip", title = "Regresar", @class = "btn btn-default glyphicon glyphicon-arrow-left color-verde" })
            @Html.ActionLink(" ", "Edit", "Pacientes", new { id = Model.Id }, new { data_toggle = "tooltip", title = "Editar", @class = "btn btn-default " + @EventosCatolicos.Servicios.clsOpciones.SIconoEditar })
        </div>
    </p>
    @section Scripts {
        </div>
        <script>
            $(document).ready(function() {
                $('[data-toggle="tooltip" ]').tooltip();
            });
        </script>
    }