﻿@model X.PagedList.IPagedList<EventosCatolicos.ViewModels.ConsultaViewModel>
@using System.Security.Cryptography
@using X.PagedList.Mvc;

@{
    ViewBag.Title = "Historial";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Historial Médico</h2>
<hr/>
@if (Model.Any())
{
    <h2 class="text-center">Datos Generales</h2>

    <dl class="dl-horizontal col-sm-6">
        <dt>
            @Html.DisplayNameFor(model => model.ElementAt(0).CobroId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElementAt(0).CobroId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElementAt(0).PacienteId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElementAt(0).PacienteId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElementAt(0).Paciente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElementAt(0).Paciente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElementAt(0).FechaConsultaView)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElementAt(0).FechaConsultaView)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElementAt(0).ProximaCitaView)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElementAt(0).ProximaCitaView)
        </dd>
    </dl>
    <dl class="dl-horizontal col-md-6">
        <dt>
            @Html.DisplayNameFor(model => model.ElementAt(0).ClinicaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElementAt(0).ClinicaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElementAt(0).MedicoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElementAt(0).MedicoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElementAt(0).Medico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElementAt(0).Medico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElementAt(0).Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElementAt(0).Estado)
        </dd>
    </dl>
    <div class="clearfix"></div>
    <h2 class="text-center">Descripción</h2>
    <div class="col-md-7">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ElementAt(0).Motivo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ElementAt(0).Motivo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ElementAt(0).Observaciones)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ElementAt(0).Observaciones)
            </dd>
        </dl>
        <h3 class="text-center">Detalles</h3>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ElementAt(0).PresionArterial)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ElementAt(0).PresionArterial)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ElementAt(0).Peso)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ElementAt(0).Peso)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ElementAt(0).Temperatura)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ElementAt(0).Temperatura)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ElementAt(0).FrecuenciaCardiaca)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ElementAt(0).FrecuenciaCardiaca)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ElementAt(0).FrecuenciaRespiratoria)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ElementAt(0).FrecuenciaRespiratoria)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ElementAt(0).MasaCorporal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ElementAt(0).MasaCorporal)
            </dd>

        </dl>
    </div>
    <div class="col-md-5">
        <h3>Síntomas</h3>
        <table class="table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ElementAt(0).DetallesSintomas[0].Observacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ElementAt(0).DetallesSintomas[0].SintomaId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ElementAt(0).DetallesSintomas[0].Sintoma.Descripcion)
                </th>
            </tr>

            @foreach (var item in Model.ElementAt(0).DetallesSintomas)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Observacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sintoma.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sintoma.Descripcion)
                    </td>
                </tr>
            }
        </table>
        <h3>Antecedentes</h3>
        <table class="table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ElementAt(0).DetallesAntecedentes[0].Observacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ElementAt(0).DetallesAntecedentes[0].AntecedenteId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ElementAt(0).DetallesAntecedentes[0].Antecedente.Descripcion)
                </th>
            </tr>
            @foreach (var item in Model.ElementAt(0).DetallesAntecedentes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Observacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Antecedente.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Antecedente.Descripcion)
                    </td>
                </tr>
            }
        </table>
        <h3>Diagnósticos</h3>
        <table class="table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ElementAt(0).DetallesDiagnosticos[0].Observacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ElementAt(0).DetallesDiagnosticos[0].DiagnosticoId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ElementAt(0).DetallesDiagnosticos[0].Diagnostico.Descripcion)
                </th>
            </tr>
            @foreach (var item in Model.ElementAt(0).DetallesDiagnosticos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Observacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Diagnostico.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Diagnostico.Descripcion)
                    </td>
                </tr>
            }
        </table>
        <h3>Tratamientos</h3>
        <table class="table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ElementAt(0).DetallesTratamientos[0].Observacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ElementAt(0).DetallesTratamientos[0].TratamientoId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ElementAt(0).DetallesTratamientos[0].Tratamiento.Descripcion)
                </th>
            </tr>
            @foreach (var item in Model.ElementAt(0).DetallesTratamientos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Observacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tratamiento.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tratamiento.Descripcion)
                    </td>
                </tr>
            }
        </table>
        <h3>Recetarios</h3>
        <table class="table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ElementAt(0).DetallesRecetarios[0].Dosis)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ElementAt(0).DetallesRecetarios[0].Duracion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ElementAt(0).DetallesRecetarios[0].RecetarioId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ElementAt(0).DetallesRecetarios[0].Recetario.Descripcion)
                </th>
            </tr>
            @foreach (var item in Model.ElementAt(0).DetallesRecetarios)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dosis)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duracion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Recetario.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Recetario.Descripcion)
                    </td>
                </tr>
            }
        </table>
        <h3>Examenes</h3>
        <table class="table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ElementAt(0).DetallesExamenes[0].ExamenId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ElementAt(0).DetallesExamenes[0].Examen.Descripcion)
                </th>
            </tr>
            @foreach (var item in Model.ElementAt(0).DetallesExamenes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Examen.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Examen.Descripcion)
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="clearfix"></div>
    <p>
        @Html.PagedListPager(Model,
        page => Url.Action("Historial", new { page = page }),
        new PagedListRenderOptions
        {
            LinkToFirstPageFormat = "<< Primera",
            LinkToPreviousPageFormat = "< Anterior",
            LinkToNextPageFormat = "Siguiente >",
            LinkToLastPageFormat = "&Uacute;ltima >>"
        })
    </p>
}
else
{
    <h1>El paciente no tiene registros.</h1>
}
    @section scripts
{
    </div>
}