﻿@model IEnumerable<EventosCatolicos.ViewModels.PacientesViewModel>
@using GridMvc.Html

@{
    ViewBag.Title = "Pacientes";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Pacientes</h2>
    @if (User.IsInRole("Administrar Pacientes") || User.IsInRole("IT"))
    {
        <p>
            <a class="btn btn-default1" data-toggle="tooltip" title="Crear"
               href="@Url.Action("Create", new {controller = "Pacientes"})">
                <span class=" glyphicon glyphicon-plus color-verde" aria-hidden="true"></span>
                Crear
            </a>
        </p>
    }

    <div class="horizontal-scroll">
        @Html.Grid(Model).Named("Pacientes").EmptyText("No hay elementos para mostrar").Columns(column =>
    {
        column.Add().Titled("Opciones").SetWidth("30%").RenderValueAs(e =>
            @<span>
                @if (User.IsInRole("Administrar Pacientes") || User.IsInRole("IT"))
                {
                    @Html.ActionLink(" ", "Edit", new { id = e.Id }, new { data_toggle = "tooltip", title = "Editar", @class = "btn1 btn-default1  glyphicon glyphicon-edit" })
                }

                @if (User.IsInRole("Ver Pacientes") || User.IsInRole("IT"))
                {
                    @Html.ActionLink(" ", "Details", new { id = e.Id }, new { data_toggle = "tooltip", title = "Detalles", @class = "btn1 btn-default1 color-azul glyphicon glyphicon-list-alt" })

                }

                @if (User.IsInRole("Ver Pacientes") || User.IsInRole("IT"))
                {
                    @Html.ActionLink(" ", "Historial", new { id = e.Id }, new { data_toggle = "tooltip", title = "Historial", @class = "btn1 btn-default1 color-verde glyphicon glyphicon-list" })

                }
                @if (User.IsInRole("Eliminar Pacientes") || User.IsInRole("IT"))
                {
                    @Html.ActionLink(" ", "Delete", new { id = e.Id }, new { data_toggle = "tooltip", title = "Eliminar", @class = "btn1 btn-default1 color-rojo glyphicon glyphicon-trash" })

                }
            </span>).Encoded(false).Sanitized(false);
        column.Add(model => model.Id).Titled("Código Paciente");
        column.Add(model => model.PrimerNombre).Titled("Primer Nombre");
        column.Add(model => model.SegundoNombre).Titled("Segundo Nombre");
        column.Add(model => model.PrimerApellido).Titled("Primer Apellido");
        column.Add(model => model.SegundoApellido).Titled("Segundo Apellido");
        column.Add(model => model.FechaNacimiento).Titled("Fecha de Nacimiento");
        column.Add(model => model.Sexo).Titled("Sexo");
        column.Add(model => model.Archivo).Titled("Archivo");
        column.Add(model => model.EstadoCivil).Titled("Estado Civil");
        column.Add(model => model.TipoIdentificacion).Titled("Tipo de Identificación");
        column.Add(model => model.NoIdentificacion).Titled("No. de Identificación");
        column.Add(model => model.Nacionalidad).Titled("Nacionalidad");

    }).SetLanguage("es").Selectable(true).WithPaging(10).Sortable().Filterable().WithMultipleFilters()
    </div>
        @section scripts
{
            @Scripts.Render("~/bundles/gridmvc")
        </div>
        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip" ]').tooltip();
            });
        </script>
    }
