﻿@using EventosCatolicos.ViewModels
@model IEnumerable<PantallaArchivoViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Archivo</title>
    @Styles.Render("~/Content/css")
</head>
<body>
<div class="pantalla">
    @if (!Model.Any())
    {
        <div class="jumbotron pantalla-header">
            <h1 class="pantalla-label-empty">No hay pacientes para mostrar.</h1>
        </div>
    }
    <div class="pantalla-content">
        @{
            var itemsArray = Model.ToArray();
        }
        <div class="pantalla-left-column col-md-6">
            @for (var i = 0; i < itemsArray.Length && i < 5; i++)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="panel-title">@itemsArray[i].Id</p>
                    </div>
                    <div class="panel-body">
                        <div class="pantalla-item-info">
                            <p class="pantalla-text"><span class="pantalla-label">Paciente: </span>@itemsArray[i].Nombre</p>
                            <p class="pantalla-text"><span class="pantalla-label">Clínica: </span>@itemsArray[i].Clinica</p>
                            <p class="pantalla-text"><span class="pantalla-label">Archivo: </span>@itemsArray[i].Archivo</p>
                        </div>
                        @if (User.IsInRole("Administrar Archivo") || User.IsInRole("IT"))
                        {
                            <div class="btn btn-primary btn-md pantalla-next-button" data-id="@itemsArray[i].IdConsulta">Siguiente</div>
                        }
                    </div>
                </div>
            }
        </div>
        <div class="pantalla-right-column col-md-6">
            @for (var i = 5; i < itemsArray.Length; i++)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="panel-title">@itemsArray[i].Id</p>
                    </div>
                    <div class="panel-body">
                        <div class="pantalla-item-info">
                            <p class="pantalla-text"><span class="pantalla-label">Paciente: </span>@itemsArray[i].Nombre</p>
                            <p class="pantalla-text"><span class="pantalla-label">Clínica: </span>@itemsArray[i].Clinica</p>
                            <p class="pantalla-text"><span class="pantalla-label">Archivo: </span>@itemsArray[i].Archivo</p>
                        </div>
                        @if (User.IsInRole("Administrar Archivo") || User.IsInRole("IT"))
                        {
                            <div class="btn btn-primary btn-md pantalla-next-button" data-id="@itemsArray[i].IdConsulta">Siguiente</div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script>
    jQuery(document).ready(function($) {
        $('.pantalla-next-button').click(function () {
            console.log("entra");
            console.log(this.getAttribute("data-id"));
            $.post('@Url.Action("SiguientePaciente", "Pacientes")', { id: this.getAttribute("data-id") });
            location.reload();
        });
    });
</script>
</body>
</html>
