﻿@model EventosCatolicos.ViewModels.ApplicationUserViewModel

@{
    ViewBag.Title = "Eliminar";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Eliminar.</h2>

    <h3>Esta seguro que desea eliminar a este usuario?</h3>
    <div>
        <h4>User.</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PrimerNombre)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PrimerNombre)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PrimerApellido)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PrimerApellido)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="btn-group" role="group" aria-label="...">
                @Html.ActionLink(" ", "Index", "UsersAdmin", null, new { data_toggle = "tooltip", title = "Regresar", @class = "btn btn-default glyphicon glyphicon-arrow-left color-verde" })
                <button type="submit" class="btn btn-default color-rojo @EventosCatolicos.Servicios.clsOpciones.SIconoEliminar" data-toggle="tooltip" title="Eliminar "></button>
            </div>
        }
    </div>
    @section scripts
{
    </div>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}