﻿@model EventosCatolicos.ViewModels.DetailsApplicationUserViewModel
@{
    ViewBag.Title = "Detalles";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Detalles.</h2>

    <div>
        <h4>User</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PrimerNombre)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PrimerNombre)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SegundoNombre)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SegundoNombre)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PrimerApellido)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PrimerApellido)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SegundoApellido)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SegundoApellido)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreatedFrom)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreatedFrom)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ModifiedBy)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ModifiedAt)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ModifiedAt)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ModifiedFrom)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ModifiedFrom)
            </dd>
        </dl>
    </div>
    <h4>Grupos a los que el usuario pertenece:</h4>
    @if (@Model.GroupsCount == 0)
    {
        <hr />
        <p>No hay Grupos para este usuario.</p>
    }

    <table class="table">
        @foreach (var item in @Model.GroupsList)
        {
            <tr>
                <td>
                    @item.Name
                </td>
            </tr>
        }
    </table>
    <p>
        <div class="btn-group" role="group" aria-label="...">
            @Html.ActionLink(" ", "Index", "UsersAdmin", null, new { data_toggle = "tooltip", title = "Regresar", @class = "btn btn-default glyphicon glyphicon-arrow-left color-verde" })
            @Html.ActionLink(" ", "Edit", "UsersAdmin", new { id = Model.Id }, new { data_toggle = "tooltip", title = "Editar", @class = "btn btn-default " + @EventosCatolicos.Servicios.clsOpciones.SIconoEditar })
        </div>
    </p>
    @section scripts
{
    </div>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip" ]').tooltip();
        });
    </script>
}