﻿@model EventosCatolicos.ViewModels.EditApplicationUserViewModel

@{
    ViewBag.Title = "Editar";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>@ViewBag.Title</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h4>Editar Usuario</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "alert-danger" })
        @Html.HiddenFor(model => model.Id) 
        <div class="form-group col-sm-6 col-md-4"> 
            @Html.LabelFor(m => m.PrimerNombre, new { @class = "control-label" }) 
            @Html.TextBoxFor(m => m.PrimerNombre, new { @class = "form-control" }) 
            @Html.ValidationMessageFor(model => model.PrimerNombre, "", new { @class = "text-danger" }) 
        </div> 
        <div class="form-group col-sm-6 col-md-4"> 
            @Html.LabelFor(m => m.SegundoNombre, new { @class = "control-label" }) 
            @Html.TextBoxFor(m => m.SegundoNombre, new { @class = "form-control" }) 
            @Html.ValidationMessageFor(model => model.SegundoNombre, "", new { @class = "text-danger" }) 
        </div> 
        <div class="form-group col-sm-6 col-md-4"> 
            @Html.LabelFor(m => m.PrimerApellido, new { @class = "control-label" }) 
            @Html.TextBoxFor(m => m.PrimerApellido, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PrimerApellido, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(m => m.SegundoApellido, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.SegundoApellido, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SegundoApellido, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(m => m.Email, "Correo Electrónico", new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-6 col-md-4">
            @Html.LabelFor(m => m.ConfirmPassword, "Confirmar Contraseña", new { @class = "control-label" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
        <div class="clearfix"></div>
        <hr />
        <div class="form-group">
            @Html.Label("Este usuario pertenece a los siguientes grupos", new { @class = "control-label col-md-4" })
            <div class="col-md-8" style="margin-bottom: 35px">
                @Html.EditorFor(m => @Model.GroupsList)
                @*foreach (var item in Model.GroupsList)
                    {
                        <input type="checkbox" name="selectedGroups" value="@item.Value" checked="@item.Selected" class="checkbox-inline" />
                        @Html.Label(item.Text, new { @class = "control-label" })
                    }*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    }

    <div class="form-group col-md-10">
        <div class="btn-group" role="group" aria-label="...">
            @Html.ActionLink(" ", "Index", "UsersAdmin", null, new { data_toggle = "tooltip", title = "Regresar", @class = "btn btn-default glyphicon  glyphicon glyphicon-arrow-left color-verde" })
            <button type="submit" class="btn btn-default imagenGuardar color-azul" data-toggle="tooltip" title="Guardar"></button>
        </div>
    </div>

    @section Scripts {
        </div>
        @Scripts.Render("~/bundles/jqueryval")
        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
    }
