﻿@model IEnumerable<EventosCatolicos.ViewModels.ApplicationUserViewModel>
@using GridMvc.Html
@{
    ViewBag.Title = "Índice";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Índice</h2>

    <p>
        <a class="btn btn-default1" data-toggle="tooltip" title="Crear"
           href="@Url.Action("Create", new {controller = "UsersAdmin"})">
            <span class=" glyphicon glyphicon-plus color-verde" aria-hidden="true"></span>
            Crear
        </a>
    </p>
    <div class="horizontal-scroll">
        @Html.Grid(Model).Named("TipoSangre").EmptyText("No hay elementos para mostrar").Columns(columns =>
        {
            columns.Add().Titled("Opciones").Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(e =>
                @<span>
                    @Html.ActionLink(" ", "Edit", new { id = e.Id }, new { data_toggle = "tooltip", title = "Editar", @class = "btn1 btn-default1 " + EventosCatolicos.Servicios.clsOpciones.SIconoEditar })
                    @Html.ActionLink(" ", "Details", new { id = e.Id }, new { data_toggle = "tooltip", title = "Detalles", @class = "btn1 btn-default1 color-azul" + EventosCatolicos.Servicios.clsOpciones.SIconoDetalles })
                    @Html.ActionLink(" ", "Delete", new { id = e.Id }, new { data_toggle = "tooltip", title = "Eliminar", @class = "btn1 btn-default1 color-rojo " + EventosCatolicos.Servicios.clsOpciones.SIconoEliminar })
                </span>).SetWidth(200);
            columns.Add(model => model.UserName).Titled("Usuario").SetWidth(110);
            columns.Add(model => model.PrimerNombre).Titled("Primer Nombre").SetWidth(110);
            columns.Add(model => model.SegundoNombre).Titled("Segundo Nombre").SetWidth(110);
            columns.Add(model => model.PrimerApellido).Titled("Primer Apellido").SetWidth(110);
            columns.Add(model => model.SegundoApellido).Titled("Segundo Apellido").SetWidth(110);
            columns.Add(model => model.Email).Titled("Correo Electrónico").SetWidth(110);
            //.Titled("Opciones") added
        }).Filterable(true).WithMultipleFilters().Sortable(true).SetLanguage("es").Selectable(true)
    </div>

    @section scripts
{
        </div>
        @Scripts.Render("~/bundles/gridmvc")
        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
        <script type="text/javascript">
            $(function () {
                pageGrids.TipoSangre.lang = gridmvc.lang.es;
            });
        </script>
    }
