﻿@model EventosCatolicos.ViewModels.GroupsInRoleViewModel

@{
    ViewBag.Title = "Permisos";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Permisos</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
    </div>
    <h4>Lista de grupos con este permiso</h4>
    @if (@Model.Count == 0)
    {
        <hr />
        <p>No se encontraron grupos en este rol</p>
    }

    <table class="table">

        @foreach (var item in @Model.GroupsList)
        {
            <tr>
                <td>
                    @item.Name
                </td>
            </tr>
        }
    </table>
    <p>
        @Html.ActionLink(" ", "Index", "RolesAdmin", null, new { data_toggle = "tooltip", title = "Regresar", @class = "btn btn-default glyphicon glyphicon-arrow-left color-verde" })
    </p>
    @section Scripts {
</div>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip" ]').tooltip();
        });
    </script>
        }