﻿@model IEnumerable<EventosCatolicos.ViewModels.ApplicationRoleViewModel>
@using GridMvc.Html
@{
    ViewBag.Title = "Roles";
}
@{
    ViewBag.Title = EventosCatolicos.Servicios.clsOpciones.SIndice;
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">

    <h2>@EventosCatolicos.Servicios.clsOpciones.SIndice</h2>
   
        @Html.Grid(Model).Named("Role").EmptyText("No hay elementos para mostrar").Columns(columns =>
    {

        columns.Add(model => model.Name).Titled("Nombre").SetWidth(110);

        columns.Add().Titled("Opciones").Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(e =>
            @<span>
                @Html.ActionLink(" ", "Details", new { id = e.Id }, new { data_toggle = "tooltip", title = "Detalles", @class = "btn1 btn-default1 color-azul" + EventosCatolicos.Servicios.clsOpciones.SIconoDetalles })
            </span>).SetWidth(200);
    }).Filterable(true).WithMultipleFilters().Sortable(true).SetLanguage("es").Selectable(true)
        @section scripts
{
            @Scripts.Render("~/bundles/gridmvc")
        </div>
        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
        <script type="text/javascript">
            $(function () {
                pageGrids.Roll.lang = gridmvc.lang.es;
            });
        </script>
    }
