﻿@using EventosCatolicos.Servicios
@model EventosCatolicos.Models.Clinica

@{
    ViewBag.Title = "Clínica";
}

<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Clínicas</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group col-sm-6 col-md-4">
        @Html.LabelForRequired(model => model.Nombre)
        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
    </div>
    <div class="clearfix"></div>
    <div class="form-group">
        <div class="btn-group" role="group" aria-label="...">
            @Html.ActionLink(" ", "Index", "Clinicas", null, new { data_toggle = "tooltip", title = "Regresar", @class = "btn btn-default glyphicon glyphicon-arrow-left color-verde" })
            <button type="submit" class="btn btn-default imagenGuardar color-azul" data-toggle="tooltip" title="Guardar"></button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    </div>
<script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
</script>
}
