﻿@model EventosCatolicos.Models.Clinica

@{
    ViewBag.Title = "Clínicas";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Clínicas</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

        </dl>
    </div>
    <p>
        <div class="btn-group" role="group" aria-label="...">
            @Html.ActionLink(" ", "Index", "Clinicas", null, new { data_toggle = "tooltip", title = "Regresar", @class = "btn btn-default glyphicon glyphicon-arrow-left color-verde" })
            @Html.ActionLink(" ", "Edit", "Clinicas", new { id = Model.Id }, new { data_toggle = "tooltip", title = "Editar", @class = "btn btn-default " + @EventosCatolicos.Servicios.clsOpciones.SIconoEditar })
        </div>
    </p>
    @section scripts
{
        </div>
        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip" ]').tooltip();
            });
        </script>
        <script type="text/javascript">
            $(function () {
                pageGrids.Antecedentes.lang = gridmvc.lang.es;
            });
        </script>
    }
