﻿@model IEnumerable<EventosCatolicos.Models.Clinica>
@using GridMvc.Html
@{
    ViewBag.Title = "Clínicas";
}
<div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h2>Clínicas</h2>

@if (User.IsInRole("Administrar Clinicas") || User.IsInRole("IT"))
{
<p>
    <a class="btn btn-default1" data-toggle="tooltip" title="Crear"
           href="@Url.Action("Create", new { controller = "Clinicas" })">
            <i class=" glyphicon glyphicon-plus color-verde" aria-hidden="true"></i>
        Crear
    </a>
</p>
}

        @Html.Grid(Model).Named("Clinicas").EmptyText("No hay elementos para mostrar").Columns(columns =>
    {
        columns.Add().Titled("Opciones").Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(e =>
            @<span>
                @Html.ActionLink(" ", "PantallaClinica", new { id = e.Id }, new { data_toggle = "tooltip", title = "Turnos", @class = "btn1 btn-default1 glyphicon glyphicon-inbox" })

                @if (User.IsInRole("Administrar Clinicas") || User.IsInRole("IT"))
                {
                    @Html.ActionLink(" ", "Edit", new { id = e.Id }, new { data_toggle = "tooltip", title = "Editar", @class = "btn1 btn-default1 " + EventosCatolicos.Servicios.clsOpciones.SIconoEditar })
                }
                @if (User.IsInRole("Ver Clinicas") || User.IsInRole("IT"))
                {
                    @Html.ActionLink(" ", "Details", new { id = e.Id }, new { data_toggle = "tooltip", title = "Detalles", @class = "btn1 btn-default1 color-azul" + EventosCatolicos.Servicios.clsOpciones.SIconoDetalles })
                }
                @if (User.IsInRole("Eliminar Clinicas") || User.IsInRole("IT"))
                {
                    @Html.ActionLink(" ", "Delete", new { id = e.Id }, new { data_toggle = "tooltip", title = "Eliminar", @class = "btn1 btn-default1 color-rojo " + EventosCatolicos.Servicios.clsOpciones.SIconoEliminar })
                }
            </span>).SetWidth(200);
        columns.Add(model => model.Id).Titled("Código").SetWidth(110);
        columns.Add(model => model.Nombre).Titled("Nombre").SetWidth(110);

    }).Filterable(true).WithMultipleFilters().Sortable(true).SetLanguage("es").Selectable(true).WithPaging(10)
        @section scripts
{
            @Scripts.Render("~/bundles/gridmvc")
        </div>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip" ]').tooltip();
        });
    </script>
    <script type="text/javascript">
        $(function () {
            pageGrids.Clinicas.lang = gridmvc.lang.es;
        });
    </script>
    }
