﻿@using EventosCatolicos.ViewModels
@model PantallaClinicaViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@Model.Clinica</title>
    @Styles.Render("~/Content/css")
</head>
<body>
<div class="pantalla">
    <div class="jumbotron pantalla-header">
        <div class="col-sm-8">
            <h1>@Model.Clinica</h1>
            @if (!Model.Consultas.Any())
            {
                <h2 class="pantalla-label-empty">No hay pacientes para mostrar.</h2>
            }
        </div>
        <div class="col-sm-4 form-group">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.LabelFor(model => model.Clinica, new { @class = "control-label pantalla-clinica-label" })
                <div class="col-xs-7">
                    @Html.DropDownList("ClinicaId", null, htmlAttributes: new {@class = "form-control pantalla-clinica-dropdown"})
                </div>
                <div class="col-xs-5">
                    <button type="submit" formaction="@Url.Action("SwitchClinica")" class="btn btn-primary">Cambiar</button>
                </div>
                <div class="clearfix"></div>
            }
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="pantalla-content">
        @{
            var itemsArray = Model.Consultas.ToArray();
        }
        <div class="pantalla-left-column col-md-6">
            @for (var i = 0; i < itemsArray.Length && i < 5; i++)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="panel-title-clinica"><span class="pantalla-label">Paciente: </span>@itemsArray[i].Nombre</p>
                    </div>
                    <div class="panel-body">
                        <p class="pantalla-text"><span class="pantalla-label">Código: </span>@itemsArray[i].Id</p>
                        <p class="pantalla-text"><span class="pantalla-label">Médico: </span>@itemsArray[i].Medico</p>
                    </div>
                </div>
            }
        </div>
        <div class="pantalla-right-column col-md-6">
            @for (var i = 5; i < itemsArray.Length; i++)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="panel-title-clinica"><span class="pantalla-label">Paciente: </span>@itemsArray[i].Nombre</p>
                    </div>
                    <div class="panel-body">
                        <p class="pantalla-text"><span class="pantalla-label">Código: </span>@itemsArray[i].Id</p>
                        <p class="pantalla-text"><span class="pantalla-label">Médico: </span>@itemsArray[i].Medico</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
<script>
    $(document).ready(function ($) {

    });
</script>
</body>
</html>
